In [1]:
%matplotlib inline

import matplotlib.pyplot as plt

import pandas as pd
import sqlite3

import numpy as np

In [2]:
statesDF = pd.read_csv('states.csv') 
statesDF.head()

   FIPS        Name
0     1     Alabama
1     2      Alaska
2     4     Arizona
3     5    Arkansas
4     6  California

In [3]:
conn = sqlite3.connect("brfss.sqlite")

In [4]:
query = "select `x.state`   as state , \
                MENTHLTH    as mentalhealth ,\
                `x.DRNKWEK` as drink, \
                `x.RFSMOK3` as smoke, \
                `x.EDUCAG`  as education, \
                `INTERNET`  as internet, \
                `EXERANY2`  as workout, \
                `x.FRUTSU1` as fruit, \
                `x.VEGESU1` as vegetable \
        from BRFSS_2017"                
        
    
brfssDF2017 = pd.read_sql_query(query, conn)
brfssDF2017['year']=2017
brfssDF2017

,state,mentalhealth,drink,smoke,education,internet,workout,fruit,vegetable,year
0,1,88.0,0,1,4,1.0,1.0,200.0,171.0,2017
1,1,88.0,0,1,4,1.0,1.0,300.0,200.0,2017
2,1,88.0,100,1,1,2.0,2.0,36.0,57.0,2017
3,1,88.0,0,1,1,2.0,NaN,3.0,NaN,2017
4,1,88.0,0,1,1,2.0,2.0,129.0,48.0,2017
5,1,88.0,600,2,2,2.0,1.0,9.0,186.0,2017
6,1,88.0,0,1,3,1.0,2.0,410.0,530.0,2017
7,1,88.0,0,1,2,2.0,1.0,300.0,104.0,2017
8,1,25.0,0,1,2,2.0,2.0,43.0,214.0,2017
9,1,1.0,600,1,2,1.0,1.0,1200.0,1120.0,2017
10,1,88.0,0,1,2,1.0,2.0,200.0,67.0,2017
11,1,88.0,0,1,2,2.0,2.0,57.0,150.0,2017
12,1,88.0,0,1,3,2.0,1.0,57.0,186.0,2017
13,1,88.0,100,1,4,1.0,1.0,400.0,386.0,2017
14,1,88.0,0,1,2,1.0,2.0,43.0,143.0,2017
15,1,88.0,0,1,2,2.0,2.0,53.0,104.0,2017
16,1,88.0,0,1,4,1.0,1.0,129.0,146.0,2017
17,1,77.0,0,1,2,2.0,2.0,200.0,NaN,2017
18,1,30.0,23,1,3,2.0,2.0,100.0,65.0,2017
19,1,88.0,0,1,2,1.0,2.0,100.0,NaN,2017
20,1,88.0,47,2,3,1.0,2.0,303.0,47.0,2017
21,1,88.0,23,1,2,1.0,2.0,17.0,158.0,2017
22,1,15.0,0,1,2,2.0,2.0,0.0,NaN,2017
23,1,88.0,0,1,1,2.0,2.0,103.0,101.0,2017
24,1,88.0,0,1,3,2.0,1.0,129.0,300.0,2017
25,1,88.0,0,1,1,1.0,2.0,17.0,40.0,2017
26,1,88.0,0,2,1,1.0,1.0,200.0,286.0,2017
27,1,1.0,93,2,4,2.0,1.0,39.0,73.0,2017
28,1,88.0,70,1,3,1.0,2.0,300.0,170.0,2017
29,1,88.0,0,2,3,2.0,1.0,100.0,243.0,2017
...,...,...,...,...,...,...,...,...,...,...
449986,72,88.0,0,1,2,2.0,2.0,53.0,21.0,2017
449987,72,88.0,0,1,1,2.0,2.0,71.0,NaN,2017
449988,72,88.0,0,1,2,1.0,1.0,86.0,85.0,2017
449989,72,7.0,0,1,2,1.0,1.0,157.0,61.0,2017
449990,72,30.0,0,1,2,1.0,2.0,9.0,27.0,2017
449991,72,88.0,0,1,3,1.0,1.0,57.0,171.0,2017
449992,72,30.0,0,1,4,2.0,2.0,86.0,64.0,2017
449993,72,88.0,300,1,2,1.0,1.0,57.0,143.0,2017
449994,72,88.0,280,1,4,1.0,2.0,100.0,207.0,2017
449995,72,88.0,0,1,4,2.0,2.0,70.0,37.0,2017
449996,72,5.0,0,1,2,2.0,2.0,143.0,86.0,2017
449997,72,88.0,0,1,3,2.0,2.0,100.0,162.0,2017
449998,72,30.0,0,1,4,1.0,1.0,36.0,98.0,2017
449999,72,30.0,0,1,2,2.0,2.0,13.0,113.0,2017
450000,72,88.0,600,1,4,1.0,1.0,186.0,100.0,2017
450001,72,88.0,0,1,3,1.0,2.0,143.0,34.0,2017
450002,72,88.0,0,1,1,1.0,2.0,10.0,42.0,2017
450003,72,88.0,2450,2,2,2.0,2.0,43.0,156.0,2017
450004,72,88.0,100,1,4,1.0,2.0,43.0,43.0,2017
450005,72,88.0,3000,1,3,1.0,2.0,29.0,42.0,2017
450006,72,88.0,0,1,4,1.0,2.0,50.0,36.0,2017
450007,72,88.0,0,1,4,1.0,1.0,10.0,171.0,2017
450008,72,28.0,0,1,3,1.0,2.0,50.0,20.0,2017
450009,72,88.0,0,1,4,1.0,2.0,200.0,233.0,2017
450010,72,88.0,210,2,3,1.0,1.0,100.0,179.0,2017
450011,72,88.0,93,1,3,1.0,1.0,200.0,258.0,2017
450012,72,5.0,0,1,2,2.0,2.0,0.0,143.0,2017
450013,72,88.0,0,1,4,1.0,2.0,72.0,144.0,2017
450014,72,88.0,0,1,3,1.0,2.0,0.0,43.0,2017
450015,72,88.0,47,1,4,2.0,2.0,10.0,20.0,2017

In [5]:
(brfssDF2017.vegetable.isnull()).sum()

47460

In [6]:
brfssDF2017.loc[(brfssDF2017.mentalhealth == 88) , 'mentalhealth'] = 0 
brfssDF2017.loc[(brfssDF2017.mentalhealth.notnull()) & \
                (brfssDF2017.mentalhealth != 0) & \
                (brfssDF2017.mentalhealth != 77) & \
                (brfssDF2017.mentalhealth != 99), 'mentalhealth'] = 1  

brfssDF2017.loc[(brfssDF2017.drink == 0) , 'drink'] = 0 
brfssDF2017.loc[(brfssDF2017.drink != 0) & \
                (brfssDF2017.drink != 99900) , 'drink'] = 1 

brfssDF2017.loc[(brfssDF2017.smoke == 1) , 'smoke'] = 0 
brfssDF2017.loc[(brfssDF2017.smoke == 2) , 'smoke'] = 1 

brfssDF2017.loc[(brfssDF2017.education == 1) , 'education'] = 0 
brfssDF2017.loc[(brfssDF2017.education == 2) | \
                (brfssDF2017.education == 3) | \
                (brfssDF2017.education == 4), 'education'] = 1 

brfssDF2017.loc[(brfssDF2017.internet == 2) , 'internet'] = 0 
brfssDF2017.loc[(brfssDF2017.internet == 1) , 'internet'] = 1 

brfssDF2017.loc[(brfssDF2017.workout == 2) , 'workout'] = 0 
brfssDF2017.loc[(brfssDF2017.workout == 1) , 'workout'] = 1 

brfssDF2017.loc[(brfssDF2017.fruit == 0) , 'fruit'] = 0 
brfssDF2017.loc[(brfssDF2017.fruit.notnull()) & \
                (brfssDF2017.fruit != 0) , 'fruit'] = 1  

brfssDF2017.loc[(brfssDF2017.vegetable == 0) , 'vegetable'] = 0 
brfssDF2017.loc[(brfssDF2017.vegetable.notnull()) & \
                (brfssDF2017.vegetable != 0) , 'vegetable'] = 1  


brfssDF2017

,state,mentalhealth,drink,smoke,education,internet,workout,fruit,vegetable,year
0,1,0.0,0,0,1,1.0,1.0,1.0,1.0,2017
1,1,0.0,0,0,1,1.0,1.0,1.0,1.0,2017
2,1,0.0,1,0,0,0.0,0.0,1.0,1.0,2017
3,1,0.0,0,0,0,0.0,NaN,1.0,NaN,2017
4,1,0.0,0,0,0,0.0,0.0,1.0,1.0,2017
5,1,0.0,1,1,1,0.0,1.0,1.0,1.0,2017
6,1,0.0,0,0,1,1.0,0.0,1.0,1.0,2017
7,1,0.0,0,0,1,0.0,1.0,1.0,1.0,2017
8,1,1.0,0,0,1,0.0,0.0,1.0,1.0,2017
9,1,1.0,1,0,1,1.0,1.0,1.0,1.0,2017
10,1,0.0,0,0,1,1.0,0.0,1.0,1.0,2017
11,1,0.0,0,0,1,0.0,0.0,1.0,1.0,2017
12,1,0.0,0,0,1,0.0,1.0,1.0,1.0,2017
13,1,0.0,1,0,1,1.0,1.0,1.0,1.0,2017
14,1,0.0,0,0,1,1.0,0.0,1.0,1.0,2017
15,1,0.0,0,0,1,0.0,0.0,1.0,1.0,2017
16,1,0.0,0,0,1,1.0,1.0,1.0,1.0,2017
17,1,77.0,0,0,1,0.0,0.0,1.0,NaN,2017
18,1,1.0,1,0,1,0.0,0.0,1.0,1.0,2017
19,1,0.0,0,0,1,1.0,0.0,1.0,NaN,2017
20,1,0.0,1,1,1,1.0,0.0,1.0,1.0,2017
21,1,0.0,1,0,1,1.0,0.0,1.0,1.0,2017
22,1,1.0,0,0,1,0.0,0.0,0.0,NaN,2017
23,1,0.0,0,0,0,0.0,0.0,1.0,1.0,2017
24,1,0.0,0,0,1,0.0,1.0,1.0,1.0,2017
25,1,0.0,0,0,0,1.0,0.0,1.0,1.0,2017
26,1,0.0,0,1,0,1.0,1.0,1.0,1.0,2017
27,1,1.0,1,1,1,0.0,1.0,1.0,1.0,2017
28,1,0.0,1,0,1,1.0,0.0,1.0,1.0,2017
29,1,0.0,0,1,1,0.0,1.0,1.0,1.0,2017
...,...,...,...,...,...,...,...,...,...,...
449986,72,0.0,0,0,1,0.0,0.0,1.0,1.0,2017
449987,72,0.0,0,0,0,0.0,0.0,1.0,NaN,2017
449988,72,0.0,0,0,1,1.0,1.0,1.0,1.0,2017
449989,72,1.0,0,0,1,1.0,1.0,1.0,1.0,2017
449990,72,1.0,0,0,1,1.0,0.0,1.0,1.0,2017
449991,72,0.0,0,0,1,1.0,1.0,1.0,1.0,2017
449992,72,1.0,0,0,1,0.0,0.0,1.0,1.0,2017
449993,72,0.0,1,0,1,1.0,1.0,1.0,1.0,2017
449994,72,0.0,1,0,1,1.0,0.0,1.0,1.0,2017
449995,72,0.0,0,0,1,0.0,0.0,1.0,1.0,2017
449996,72,1.0,0,0,1,0.0,0.0,1.0,1.0,2017
449997,72,0.0,0,0,1,0.0,0.0,1.0,1.0,2017
449998,72,1.0,0,0,1,1.0,1.0,1.0,1.0,2017
449999,72,1.0,0,0,1,0.0,0.0,1.0,1.0,2017
450000,72,0.0,1,0,1,1.0,1.0,1.0,1.0,2017
450001,72,0.0,0,0,1,1.0,0.0,1.0,1.0,2017
450002,72,0.0,0,0,0,1.0,0.0,1.0,1.0,2017
450003,72,0.0,1,1,1,0.0,0.0,1.0,1.0,2017
450004,72,0.0,1,0,1,1.0,0.0,1.0,1.0,2017
450005,72,0.0,1,0,1,1.0,0.0,1.0,1.0,2017
450006,72,0.0,0,0,1,1.0,0.0,1.0,1.0,2017
450007,72,0.0,0,0,1,1.0,1.0,1.0,1.0,2017
450008,72,1.0,0,0,1,1.0,0.0,1.0,1.0,2017
450009,72,0.0,0,0,1,1.0,0.0,1.0,1.0,2017
450010,72,0.0,1,1,1,1.0,1.0,1.0,1.0,2017
450011,72,0.0,1,0,1,1.0,1.0,1.0,1.0,2017
450012,72,1.0,0,0,1,0.0,0.0,0.0,1.0,2017
450013,72,0.0,0,0,1,1.0,0.0,1.0,1.0,2017
450014,72,0.0,0,0,1,1.0,0.0,0.0,1.0,2017
450015,72,0.0,1,0,1,0.0,0.0,1.0,1.0,2017

In [7]:
(brfssDF2017.vegetable.isnull()).sum()

47460

In [8]:
query = "select `x.state`   as state , \
                MENTHLTH    as mentalhealth ,\
                `x.DRNKWEK` as drink, \
                `x.RFSMOK3` as smoke, \
                `x.EDUCAG`  as education, \
                `INTERNET`  as internet, \
                `EXERANY2`  as workout \
        from BRFSS_2016"                
        
    
brfssDF2016 = pd.read_sql_query(query, conn)
brfssDF2016['fruit'] = np.nan
brfssDF2016['vegetable'] = np.nan
brfssDF2016['year']=2016

brfssDF2016

,state,mentalhealth,drink,smoke,education,internet,workout,fruit,vegetable,year
0,1,88.0,0,1,2,1.0,1.0,NaN,NaN,2016
1,1,88.0,0,1,2,1.0,1.0,NaN,NaN,2016
2,1,1.0,100,2,3,1.0,1.0,NaN,NaN,2016
3,1,88.0,0,1,4,1.0,1.0,NaN,NaN,2016
4,1,3.0,0,1,2,1.0,1.0,NaN,NaN,2016
5,1,88.0,0,1,2,1.0,2.0,NaN,NaN,2016
6,1,88.0,117,1,2,1.0,1.0,NaN,NaN,2016
7,1,88.0,0,1,3,1.0,1.0,NaN,NaN,2016
8,1,88.0,0,1,3,1.0,1.0,NaN,NaN,2016
9,1,88.0,23,1,2,2.0,1.0,NaN,NaN,2016
10,1,88.0,0,1,3,1.0,1.0,NaN,NaN,2016
11,1,5.0,0,1,2,1.0,1.0,NaN,NaN,2016
12,1,88.0,47,1,4,1.0,1.0,NaN,NaN,2016
13,1,30.0,0,1,1,2.0,2.0,NaN,NaN,2016
14,1,88.0,0,1,2,2.0,2.0,NaN,NaN,2016
15,1,88.0,0,1,4,1.0,1.0,NaN,NaN,2016
16,1,88.0,0,1,4,1.0,1.0,NaN,NaN,2016
17,1,1.0,233,1,4,1.0,1.0,NaN,NaN,2016
18,1,5.0,2567,2,1,1.0,2.0,NaN,NaN,2016
19,1,3.0,0,1,2,2.0,2.0,NaN,NaN,2016
20,1,88.0,0,1,4,1.0,2.0,NaN,NaN,2016
21,1,2.0,47,1,4,1.0,1.0,NaN,NaN,2016
22,1,88.0,0,1,2,2.0,2.0,NaN,NaN,2016
23,1,88.0,0,1,4,1.0,1.0,NaN,NaN,2016
24,1,88.0,0,1,3,2.0,1.0,NaN,NaN,2016
25,1,88.0,100,2,1,1.0,1.0,NaN,NaN,2016
26,1,88.0,0,1,3,2.0,1.0,NaN,NaN,2016
27,1,88.0,0,1,3,1.0,1.0,NaN,NaN,2016
28,1,88.0,0,1,3,1.0,1.0,NaN,NaN,2016
29,1,88.0,0,1,4,1.0,2.0,NaN,NaN,2016
...,...,...,...,...,...,...,...,...,...,...
486273,78,3.0,23,1,3,1.0,2.0,NaN,NaN,2016
486274,78,30.0,0,2,2,2.0,1.0,NaN,NaN,2016
486275,78,88.0,140,1,3,1.0,2.0,NaN,NaN,2016
486276,78,7.0,3500,1,1,2.0,1.0,NaN,NaN,2016
486277,78,88.0,117,1,2,1.0,1.0,NaN,NaN,2016
486278,78,88.0,1200,1,4,1.0,1.0,NaN,NaN,2016
486279,78,88.0,70,1,3,1.0,1.0,NaN,NaN,2016
486280,78,88.0,300,1,2,1.0,1.0,NaN,NaN,2016
486281,78,30.0,70,1,4,1.0,1.0,NaN,NaN,2016
486282,78,88.0,0,1,2,1.0,1.0,NaN,NaN,2016
486283,78,12.0,0,1,4,1.0,1.0,NaN,NaN,2016
486284,78,88.0,23,1,2,1.0,1.0,NaN,NaN,2016
486285,78,88.0,400,1,1,2.0,1.0,NaN,NaN,2016
486286,78,88.0,23,1,1,1.0,1.0,NaN,NaN,2016
486287,78,88.0,47,1,4,1.0,2.0,NaN,NaN,2016
486288,78,88.0,0,1,4,1.0,1.0,NaN,NaN,2016
486289,78,88.0,23,1,4,1.0,1.0,NaN,NaN,2016
486290,78,20.0,93,1,4,1.0,1.0,NaN,NaN,2016
486291,78,88.0,420,1,4,1.0,2.0,NaN,NaN,2016
486292,78,3.0,0,1,2,1.0,1.0,NaN,NaN,2016
486293,78,88.0,0,1,4,1.0,1.0,NaN,NaN,2016
486294,78,3.0,0,2,4,1.0,2.0,NaN,NaN,2016
486295,78,88.0,100,1,3,1.0,1.0,NaN,NaN,2016
486296,78,88.0,47,1,2,1.0,2.0,NaN,NaN,2016
486297,78,3.0,4200,2,4,1.0,1.0,NaN,NaN,2016
486298,78,88.0,99900,9,1,2.0,2.0,NaN,NaN,2016
486299,78,88.0,99900,1,2,2.0,1.0,NaN,NaN,2016
486300,78,10.0,500,1,3,1.0,2.0,NaN,NaN,2016
486301,78,88.0,0,1,2,2.0,1.0,NaN,NaN,2016
486302,78,88.0,1500,1,1,2.0,2.0,NaN,NaN,2016

In [9]:
brfssDF2016.loc[(brfssDF2016.mentalhealth == 88) , 'mentalhealth'] = 0 
brfssDF2016.loc[(brfssDF2016.mentalhealth.notnull()) & \
                (brfssDF2016.mentalhealth != 0) & \
                (brfssDF2016.mentalhealth != 77) & \
                (brfssDF2016.mentalhealth != 99), 'mentalhealth'] = 1  

brfssDF2016.loc[(brfssDF2016.drink == 0) , 'drink'] = 0 
brfssDF2016.loc[(brfssDF2016.drink != 0) & \
                (brfssDF2016.drink != 99900) , 'drink'] = 1 

brfssDF2016.loc[(brfssDF2016.smoke == 1) , 'smoke'] = 0 
brfssDF2016.loc[(brfssDF2016.smoke == 2) , 'smoke'] = 1 

brfssDF2016.loc[(brfssDF2016.education == 1) , 'education'] = 0 
brfssDF2016.loc[(brfssDF2016.education == 2) | \
                (brfssDF2016.education == 3) | \
                (brfssDF2016.education == 4), 'education'] = 1 

brfssDF2016.loc[(brfssDF2016.internet == 2) , 'internet'] = 0 
brfssDF2016.loc[(brfssDF2016.internet == 1) , 'internet'] = 1 

brfssDF2016.loc[(brfssDF2016.workout == 2) , 'workout'] = 0 
brfssDF2016.loc[(brfssDF2016.workout == 1) , 'workout'] = 1 

brfssDF2016.loc[(brfssDF2016.fruit == 0) , 'fruit'] = 0 
brfssDF2016.loc[(brfssDF2016.fruit.notnull()) & \
                (brfssDF2016.fruit != 0) , 'fruit'] = 1  

brfssDF2016.loc[(brfssDF2016.vegetable == 0) , 'vegetable'] = 0 
brfssDF2016.loc[(brfssDF2016.vegetable.notnull()) & \
                (brfssDF2016.vegetable != 0) , 'vegetable'] = 1  


brfssDF2016

,state,mentalhealth,drink,smoke,education,internet,workout,fruit,vegetable,year
0,1,0.0,0,0,1,1.0,1.0,NaN,NaN,2016
1,1,0.0,0,0,1,1.0,1.0,NaN,NaN,2016
2,1,1.0,1,1,1,1.0,1.0,NaN,NaN,2016
3,1,0.0,0,0,1,1.0,1.0,NaN,NaN,2016
4,1,1.0,0,0,1,1.0,1.0,NaN,NaN,2016
5,1,0.0,0,0,1,1.0,0.0,NaN,NaN,2016
6,1,0.0,1,0,1,1.0,1.0,NaN,NaN,2016
7,1,0.0,0,0,1,1.0,1.0,NaN,NaN,2016
8,1,0.0,0,0,1,1.0,1.0,NaN,NaN,2016
9,1,0.0,1,0,1,0.0,1.0,NaN,NaN,2016
10,1,0.0,0,0,1,1.0,1.0,NaN,NaN,2016
11,1,1.0,0,0,1,1.0,1.0,NaN,NaN,2016
12,1,0.0,1,0,1,1.0,1.0,NaN,NaN,2016
13,1,1.0,0,0,0,0.0,0.0,NaN,NaN,2016
14,1,0.0,0,0,1,0.0,0.0,NaN,NaN,2016
15,1,0.0,0,0,1,1.0,1.0,NaN,NaN,2016
16,1,0.0,0,0,1,1.0,1.0,NaN,NaN,2016
17,1,1.0,1,0,1,1.0,1.0,NaN,NaN,2016
18,1,1.0,1,1,0,1.0,0.0,NaN,NaN,2016
19,1,1.0,0,0,1,0.0,0.0,NaN,NaN,2016
20,1,0.0,0,0,1,1.0,0.0,NaN,NaN,2016
21,1,1.0,1,0,1,1.0,1.0,NaN,NaN,2016
22,1,0.0,0,0,1,0.0,0.0,NaN,NaN,2016
23,1,0.0,0,0,1,1.0,1.0,NaN,NaN,2016
24,1,0.0,0,0,1,0.0,1.0,NaN,NaN,2016
25,1,0.0,1,1,0,1.0,1.0,NaN,NaN,2016
26,1,0.0,0,0,1,0.0,1.0,NaN,NaN,2016
27,1,0.0,0,0,1,1.0,1.0,NaN,NaN,2016
28,1,0.0,0,0,1,1.0,1.0,NaN,NaN,2016
29,1,0.0,0,0,1,1.0,0.0,NaN,NaN,2016
...,...,...,...,...,...,...,...,...,...,...
486273,78,1.0,1,0,1,1.0,0.0,NaN,NaN,2016
486274,78,1.0,0,1,1,0.0,1.0,NaN,NaN,2016
486275,78,0.0,1,0,1,1.0,0.0,NaN,NaN,2016
486276,78,1.0,1,0,0,0.0,1.0,NaN,NaN,2016
486277,78,0.0,1,0,1,1.0,1.0,NaN,NaN,2016
486278,78,0.0,1,0,1,1.0,1.0,NaN,NaN,2016
486279,78,0.0,1,0,1,1.0,1.0,NaN,NaN,2016
486280,78,0.0,1,0,1,1.0,1.0,NaN,NaN,2016
486281,78,1.0,1,0,1,1.0,1.0,NaN,NaN,2016
486282,78,0.0,0,0,1,1.0,1.0,NaN,NaN,2016
486283,78,1.0,0,0,1,1.0,1.0,NaN,NaN,2016
486284,78,0.0,1,0,1,1.0,1.0,NaN,NaN,2016
486285,78,0.0,1,0,0,0.0,1.0,NaN,NaN,2016
486286,78,0.0,1,0,0,1.0,1.0,NaN,NaN,2016
486287,78,0.0,1,0,1,1.0,0.0,NaN,NaN,2016
486288,78,0.0,0,0,1,1.0,1.0,NaN,NaN,2016
486289,78,0.0,1,0,1,1.0,1.0,NaN,NaN,2016
486290,78,1.0,1,0,1,1.0,1.0,NaN,NaN,2016
486291,78,0.0,1,0,1,1.0,0.0,NaN,NaN,2016
486292,78,1.0,0,0,1,1.0,1.0,NaN,NaN,2016
486293,78,0.0,0,0,1,1.0,1.0,NaN,NaN,2016
486294,78,1.0,0,1,1,1.0,0.0,NaN,NaN,2016
486295,78,0.0,1,0,1,1.0,1.0,NaN,NaN,2016
486296,78,0.0,1,0,1,1.0,0.0,NaN,NaN,2016
486297,78,1.0,1,1,1,1.0,1.0,NaN,NaN,2016
486298,78,0.0,99900,9,0,0.0,0.0,NaN,NaN,2016
486299,78,0.0,99900,0,1,0.0,1.0,NaN,NaN,2016
486300,78,1.0,1,0,1,1.0,0.0,NaN,NaN,2016
486301,78,0.0,0,0,1,0.0,1.0,NaN,NaN,2016
486302,78,0.0,1,0,0,0.0,0.0,NaN,NaN,2016

In [10]:
query = "select `x.state`   as state , \
                MENTHLTH    as mentalhealth ,\
                `x.DRNKWEK` as drink, \
                `x.RFSMOK3` as smoke, \
                `x.EDUCAG`  as education, \
                `INTERNET`  as internet, \
                `EXERANY2`  as workout ,\
                `x.FRUTSUM` as fruit, \
                `x.VEGESUM` as vegetable \
        from BRFSS_2015"                
        
    
brfssDF2015 = pd.read_sql_query(query, conn)
brfssDF2015['year']=2015

brfssDF2015.head()

,state,mentalhealth,drink,smoke,education,internet,workout,fruit,vegetable,year
0,1,18,0,1,2,2.0,2.0,50.0,217.0,2015
1,1,88,0,2,4,1.0,1.0,24.0,78.0,2015
2,1,88,99900,9,2,2.0,NaN,NaN,NaN,2015
3,1,30,0,1,2,2.0,2.0,100.0,20.0,2015
4,1,88,0,1,3,1.0,2.0,NaN,200.0,2015

In [11]:
brfssDF2015.loc[(brfssDF2015.mentalhealth == 88) , 'mentalhealth'] = 0 
brfssDF2015.loc[(brfssDF2015.mentalhealth.notnull()) & \
                (brfssDF2015.mentalhealth != 0) & \
                (brfssDF2015.mentalhealth != 77) & \
                (brfssDF2015.mentalhealth != 99), 'mentalhealth'] = 1  

brfssDF2015.loc[(brfssDF2015.drink == 0) , 'drink'] = 0 
brfssDF2015.loc[(brfssDF2015.drink != 0) & \
                (brfssDF2015.drink != 99900) , 'drink'] = 1 

brfssDF2015.loc[(brfssDF2015.smoke == 1) , 'smoke'] = 0 
brfssDF2015.loc[(brfssDF2015.smoke == 2) , 'smoke'] = 1 

brfssDF2015.loc[(brfssDF2015.education == 1) , 'education'] = 0 
brfssDF2015.loc[(brfssDF2015.education == 2) | \
                (brfssDF2015.education == 3) | \
                (brfssDF2015.education == 4), 'education'] = 1 

brfssDF2015.loc[(brfssDF2015.internet == 2) , 'internet'] = 0 
brfssDF2015.loc[(brfssDF2015.internet == 1) , 'internet'] = 1 

brfssDF2015.loc[(brfssDF2015.workout == 2) , 'workout'] = 0 
brfssDF2015.loc[(brfssDF2015.workout == 1) , 'workout'] = 1 

brfssDF2015.loc[(brfssDF2015.fruit == 0) , 'fruit'] = 0 
brfssDF2015.loc[(brfssDF2015.fruit.notnull()) & \
                (brfssDF2015.fruit != 0) , 'fruit'] = 1  

brfssDF2015.loc[(brfssDF2015.vegetable == 0) , 'vegetable'] = 0 
brfssDF2015.loc[(brfssDF2015.vegetable.notnull()) & \
                (brfssDF2015.vegetable != 0) , 'vegetable'] = 1  


brfssDF2015

,state,mentalhealth,drink,smoke,education,internet,workout,fruit,vegetable,year
0,1,1,0,0,1,0.0,0.0,1.0,1.0,2015
1,1,0,0,1,1,1.0,1.0,1.0,1.0,2015
2,1,0,99900,9,1,0.0,NaN,NaN,NaN,2015
3,1,1,0,0,1,0.0,0.0,1.0,1.0,2015
4,1,0,0,0,1,1.0,0.0,NaN,1.0,2015
5,1,0,0,0,0,0.0,1.0,1.0,1.0,2015
6,1,1,1,0,1,0.0,1.0,1.0,1.0,2015
7,1,0,0,0,0,0.0,1.0,1.0,1.0,2015
8,1,0,0,0,0,0.0,1.0,NaN,NaN,2015
9,1,0,0,0,1,1.0,1.0,1.0,1.0,2015
10,1,0,0,0,1,1.0,0.0,1.0,1.0,2015
11,1,0,0,0,1,0.0,0.0,1.0,1.0,2015
12,1,0,0,0,1,1.0,NaN,NaN,NaN,2015
13,1,0,0,0,1,0.0,NaN,1.0,NaN,2015
14,1,0,0,0,1,0.0,NaN,NaN,NaN,2015
15,1,0,1,1,1,1.0,1.0,1.0,1.0,2015
16,1,1,0,1,1,1.0,0.0,1.0,1.0,2015
17,1,0,0,1,1,0.0,NaN,NaN,NaN,2015
18,1,0,0,0,0,0.0,1.0,1.0,1.0,2015
19,1,0,0,0,1,0.0,0.0,1.0,1.0,2015
20,1,0,0,0,0,0.0,0.0,1.0,1.0,2015
21,1,0,1,0,1,1.0,1.0,1.0,1.0,2015
22,1,0,0,1,1,0.0,0.0,1.0,1.0,2015
23,1,0,0,0,0,0.0,0.0,1.0,1.0,2015
24,1,99,0,0,1,0.0,1.0,1.0,1.0,2015
25,1,1,0,0,1,0.0,0.0,1.0,NaN,2015
26,1,1,99900,1,1,0.0,0.0,0.0,1.0,2015
27,1,1,0,0,1,0.0,0.0,1.0,1.0,2015
28,1,0,0,0,1,0.0,NaN,1.0,NaN,2015
29,1,1,0,0,0,0.0,1.0,1.0,1.0,2015
...,...,...,...,...,...,...,...,...,...,...
441426,72,0,1,0,1,1.0,0.0,1.0,1.0,2015
441427,72,0,0,1,1,0.0,0.0,1.0,1.0,2015
441428,72,1,0,0,1,1.0,0.0,1.0,1.0,2015
441429,72,0,0,0,1,1.0,0.0,1.0,1.0,2015
441430,72,0,1,0,1,1.0,NaN,NaN,NaN,2015
441431,72,0,1,0,1,1.0,0.0,1.0,1.0,2015
441432,72,0,0,1,0,1.0,0.0,1.0,1.0,2015
441433,72,1,0,0,1,0.0,0.0,1.0,1.0,2015
441434,72,1,1,1,1,1.0,1.0,1.0,1.0,2015
441435,72,0,1,0,0,0.0,0.0,1.0,1.0,2015
441436,72,1,0,0,1,0.0,0.0,1.0,1.0,2015
441437,72,0,1,0,1,1.0,1.0,1.0,1.0,2015
441438,72,0,0,0,1,1.0,1.0,1.0,1.0,2015
441439,72,0,0,0,1,0.0,0.0,1.0,1.0,2015
441440,72,0,1,1,0,0.0,0.0,1.0,1.0,2015
441441,72,77,0,0,1,1.0,0.0,1.0,1.0,2015
441442,72,0,0,0,0,1.0,0.0,1.0,1.0,2015
441443,72,0,0,1,1,1.0,1.0,0.0,1.0,2015
441444,72,0,1,0,1,1.0,1.0,1.0,1.0,2015
441445,72,0,0,0,0,0.0,1.0,1.0,1.0,2015
441446,72,0,0,0,0,0.0,1.0,1.0,1.0,2015
441447,72,0,1,1,1,1.0,0.0,NaN,1.0,2015
441448,72,1,1,0,1,1.0,1.0,1.0,1.0,2015
441449,72,0,0,0,1,1.0,0.0,0.0,1.0,2015
441450,72,0,1,0,1,1.0,0.0,1.0,1.0,2015
441451,72,0,0,0,0,0.0,0.0,1.0,1.0,2015
441452,72,0,0,0,1,1.0,1.0,1.0,1.0,2015
441453,72,1,1,0,1,0.0,NaN,NaN,NaN,2015
441454,72,0,0,0,1,0.0,0.0,1.0,1.0,2015
441455,72,0,0,0,1,1.0,1.0,1.0,1.0,2015

In [12]:
query = "select `x.state`   as state , \
                MENTHLTH    as mentalhealth ,\
                `x.DRNKDY4` as drink, \
                `x.RFSMOK3` as smoke, \
                `x.EDUCAG`  as education, \
                `INTERNET`  as internet, \
                `EXERANY2`  as workout \
        from BRFSS_2014"                
    
brfssDF2014 = pd.read_sql_query(query, conn)
brfssDF2014['fruit'] = np.nan
brfssDF2014['vegetable'] = np.nan
brfssDF2014['year']=2014

brfssDF2014.head()

,state,mentalhealth,drink,smoke,education,internet,workout,fruit,vegetable,year
0,1,5.0,0,1,3,1.0,2.0,NaN,NaN,2014
1,1,14.0,0,1,2,1.0,1.0,NaN,NaN,2014
2,1,88.0,0,1,4,1.0,1.0,NaN,NaN,2014
3,1,77.0,0,1,4,2.0,2.0,NaN,NaN,2014
4,1,88.0,0,1,3,1.0,2.0,NaN,NaN,2014

In [13]:
brfssDF2014.loc[(brfssDF2014.mentalhealth == 88) , 'mentalhealth'] = 0 
brfssDF2014.loc[(brfssDF2014.mentalhealth.notnull()) & \
                (brfssDF2014.mentalhealth != 0) & \
                (brfssDF2014.mentalhealth != 77) & \
                (brfssDF2014.mentalhealth != 99), 'mentalhealth'] = 1  

brfssDF2014.loc[(brfssDF2014.drink == 0) , 'drink'] = 0 
brfssDF2014.loc[(brfssDF2014.drink != 0) & \
                (brfssDF2014.drink != 9900) , 'drink'] = 1 

brfssDF2014.loc[(brfssDF2014.smoke == 1) , 'smoke'] = 0 
brfssDF2014.loc[(brfssDF2014.smoke == 2) , 'smoke'] = 1 

brfssDF2014.loc[(brfssDF2014.education == 1) , 'education'] = 0 
brfssDF2014.loc[(brfssDF2014.education == 2) | \
                (brfssDF2014.education == 3) | \
                (brfssDF2014.education == 4), 'education'] = 1 

brfssDF2014.loc[(brfssDF2014.internet == 2) , 'internet'] = 0 
brfssDF2014.loc[(brfssDF2014.internet == 1) , 'internet'] = 1 

brfssDF2014.loc[(brfssDF2014.workout == 2) , 'workout'] = 0 
brfssDF2014.loc[(brfssDF2014.workout == 1) , 'workout'] = 1 

brfssDF2014.loc[(brfssDF2014.fruit == 0) , 'fruit'] = 0 
brfssDF2014.loc[(brfssDF2014.fruit.notnull()) & \
                (brfssDF2014.fruit != 0) , 'fruit'] = 1  

brfssDF2014.loc[(brfssDF2014.vegetable == 0) , 'vegetable'] = 0 
brfssDF2014.loc[(brfssDF2014.vegetable.notnull()) & \
                (brfssDF2014.vegetable != 0) , 'vegetable'] = 1  


brfssDF2014

,state,mentalhealth,drink,smoke,education,internet,workout,fruit,vegetable,year
0,1,1.0,0,0,1,1.0,0.0,NaN,NaN,2014
1,1,1.0,0,0,1,1.0,1.0,NaN,NaN,2014
2,1,0.0,0,0,1,1.0,1.0,NaN,NaN,2014
3,1,77.0,0,0,1,0.0,0.0,NaN,NaN,2014
4,1,0.0,0,0,1,1.0,0.0,NaN,NaN,2014
5,1,1.0,0,0,1,0.0,1.0,NaN,NaN,2014
6,1,0.0,0,0,1,1.0,1.0,NaN,NaN,2014
7,1,0.0,0,0,1,0.0,1.0,NaN,NaN,2014
8,1,1.0,0,1,0,1.0,1.0,NaN,NaN,2014
9,1,0.0,1,1,1,1.0,1.0,NaN,NaN,2014
10,1,0.0,0,0,1,0.0,1.0,NaN,NaN,2014
11,1,0.0,0,0,1,0.0,1.0,NaN,NaN,2014
12,1,1.0,0,0,1,1.0,1.0,NaN,NaN,2014
13,1,0.0,1,0,1,1.0,1.0,NaN,NaN,2014
14,1,0.0,0,0,1,0.0,1.0,NaN,NaN,2014
15,1,0.0,1,0,1,1.0,1.0,NaN,NaN,2014
16,1,1.0,0,0,1,1.0,0.0,NaN,NaN,2014
17,1,77.0,0,0,1,1.0,1.0,NaN,NaN,2014
18,1,0.0,0,0,1,1.0,1.0,NaN,NaN,2014
19,1,1.0,0,0,0,0.0,0.0,NaN,NaN,2014
20,1,0.0,9900,0,0,0.0,0.0,NaN,NaN,2014
21,1,0.0,0,0,1,0.0,1.0,NaN,NaN,2014
22,1,1.0,0,0,1,1.0,0.0,NaN,NaN,2014
23,1,1.0,0,0,1,0.0,1.0,NaN,NaN,2014
24,1,1.0,0,1,1,0.0,1.0,NaN,NaN,2014
25,1,1.0,0,1,0,1.0,0.0,NaN,NaN,2014
26,1,0.0,1,0,1,1.0,1.0,NaN,NaN,2014
27,1,0.0,1,0,1,1.0,0.0,NaN,NaN,2014
28,1,0.0,0,0,1,0.0,0.0,NaN,NaN,2014
29,1,0.0,0,0,1,0.0,1.0,NaN,NaN,2014
...,...,...,...,...,...,...,...,...,...,...
464634,72,1.0,0,0,1,0.0,1.0,NaN,NaN,2014
464635,72,0.0,0,0,1,1.0,0.0,NaN,NaN,2014
464636,72,1.0,0,0,0,0.0,1.0,NaN,NaN,2014
464637,72,0.0,1,0,1,1.0,1.0,NaN,NaN,2014
464638,72,0.0,0,0,1,1.0,1.0,NaN,NaN,2014
464639,72,0.0,1,0,1,1.0,0.0,NaN,NaN,2014
464640,72,0.0,0,0,1,1.0,1.0,NaN,NaN,2014
464641,72,0.0,1,0,1,1.0,1.0,NaN,NaN,2014
464642,72,1.0,0,0,0,0.0,0.0,NaN,NaN,2014
464643,72,1.0,9900,9,9,NaN,0.0,NaN,NaN,2014
464644,72,0.0,0,0,1,1.0,1.0,NaN,NaN,2014
464645,72,0.0,0,0,1,1.0,0.0,NaN,NaN,2014
464646,72,1.0,1,0,1,1.0,1.0,NaN,NaN,2014
464647,72,0.0,0,0,0,0.0,1.0,NaN,NaN,2014
464648,72,0.0,9900,9,1,NaN,1.0,NaN,NaN,2014
464649,72,0.0,0,1,1,1.0,1.0,NaN,NaN,2014
464650,72,0.0,0,0,1,1.0,1.0,NaN,NaN,2014
464651,72,0.0,1,0,1,1.0,0.0,NaN,NaN,2014
464652,72,0.0,1,0,1,1.0,1.0,NaN,NaN,2014
464653,72,0.0,0,0,1,1.0,1.0,NaN,NaN,2014
464654,72,0.0,0,0,1,1.0,0.0,NaN,NaN,2014
464655,72,0.0,0,0,1,0.0,0.0,NaN,NaN,2014
464656,72,0.0,0,0,1,1.0,1.0,NaN,NaN,2014
464657,72,0.0,0,0,1,1.0,0.0,NaN,NaN,2014
464658,72,0.0,0,0,1,0.0,0.0,NaN,NaN,2014
464659,72,1.0,9900,0,1,1.0,1.0,NaN,NaN,2014
464660,72,1.0,1,0,1,1.0,1.0,NaN,NaN,2014
464661,72,0.0,0,0,1,0.0,0.0,NaN,NaN,2014
464662,72,0.0,0,0,1,1.0,1.0,NaN,NaN,2014
464663,72,0.0,0,0,1,1.0,1.0,NaN,NaN,2014

In [14]:
query = "select `x.state`   as state , \
                MENTHLTH    as mentalhealth ,\
                `x.DRNKDY4` as drink, \
                `x.RFSMOK3` as smoke, \
                `x.EDUCAG`  as education, \
                `INTERNET`  as internet, \
                `EXERANY2`  as workout ,\
                `FRUTDA1.`  as fruit, \
                `GRENDAY.`  as vegetable \
        from BRFSS_2013"                
        
    
brfssDF2013 = pd.read_sql_query(query, conn)
brfssDF2013['year']=2013

brfssDF2013.head()

,state,mentalhealth,drink,smoke,education,internet,workout,fruit,vegetable,year
0,1,29.0,7,1,4,1.0,2.0,400.0,33.0,2013
1,1,88.0,0,1,3,1.0,1.0,3.0,43.0,2013
2,1,2.0,267,2,4,1.0,2.0,43.0,29.0,2013
3,1,88.0,53,1,2,1.0,1.0,20.0,33.0,2013
4,1,2.0,67,1,4,1.0,2.0,7.0,33.0,2013

In [15]:
brfssDF2013.loc[(brfssDF2013.mentalhealth == 88) , 'mentalhealth'] = 0 
brfssDF2013.loc[(brfssDF2013.mentalhealth.notnull()) & \
                (brfssDF2013.mentalhealth != 0) & \
                (brfssDF2013.mentalhealth != 77) & \
                (brfssDF2013.mentalhealth != 99), 'mentalhealth'] = 1  

brfssDF2013.loc[(brfssDF2013.drink == 0) , 'drink'] = 0 
brfssDF2013.loc[(brfssDF2013.drink != 0) & \
                (brfssDF2013.drink != 9900) , 'drink'] = 1 

brfssDF2013.loc[(brfssDF2013.smoke == 1) , 'smoke'] = 0 
brfssDF2013.loc[(brfssDF2013.smoke == 2) , 'smoke'] = 1 

brfssDF2013.loc[(brfssDF2013.education == 1) , 'education'] = 0 
brfssDF2013.loc[(brfssDF2013.education == 2) | \
                (brfssDF2013.education == 3) | \
                (brfssDF2013.education == 4), 'education'] = 1 

brfssDF2013.loc[(brfssDF2013.internet == 2) , 'internet'] = 0 
brfssDF2013.loc[(brfssDF2013.internet == 1) , 'internet'] = 1 

brfssDF2013.loc[(brfssDF2013.workout == 2) , 'workout'] = 0 
brfssDF2013.loc[(brfssDF2013.workout == 1) , 'workout'] = 1 

brfssDF2013.loc[(brfssDF2013.fruit == 0) , 'fruit'] = 0 
brfssDF2013.loc[(brfssDF2013.fruit.notnull()) & \
                (brfssDF2013.fruit != 0) , 'fruit'] = 1  

brfssDF2013.loc[(brfssDF2013.vegetable == 0) , 'vegetable'] = 0 
brfssDF2013.loc[(brfssDF2013.vegetable.notnull()) & \
                (brfssDF2013.vegetable != 0) , 'vegetable'] = 1  


brfssDF2013

,state,mentalhealth,drink,smoke,education,internet,workout,fruit,vegetable,year
0,1,1.0,1,0,1,1.0,0.0,1.0,1.0,2013
1,1,0.0,0,0,1,1.0,1.0,1.0,1.0,2013
2,1,1.0,1,1,1,1.0,0.0,1.0,1.0,2013
3,1,0.0,1,0,1,1.0,1.0,1.0,1.0,2013
4,1,1.0,1,0,1,1.0,0.0,1.0,1.0,2013
5,1,0.0,0,0,1,1.0,1.0,1.0,1.0,2013
6,1,1.0,1,0,1,1.0,1.0,1.0,1.0,2013
7,1,0.0,1,1,1,1.0,1.0,1.0,1.0,2013
8,1,0.0,1,0,1,1.0,1.0,1.0,1.0,2013
9,1,0.0,0,0,1,1.0,1.0,1.0,1.0,2013
10,1,1.0,1,0,1,1.0,1.0,1.0,1.0,2013
11,1,0.0,0,1,1,1.0,0.0,1.0,1.0,2013
12,1,0.0,9900,0,1,0.0,0.0,1.0,1.0,2013
13,1,1.0,1,1,1,0.0,1.0,1.0,1.0,2013
14,1,0.0,0,1,1,1.0,1.0,1.0,1.0,2013
15,1,1.0,0,0,1,1.0,1.0,1.0,1.0,2013
16,1,1.0,0,0,1,1.0,1.0,0.0,1.0,2013
17,1,0.0,0,1,1,1.0,0.0,1.0,0.0,2013
18,1,1.0,1,0,1,1.0,0.0,1.0,1.0,2013
19,1,0.0,1,0,1,1.0,1.0,1.0,1.0,2013
20,1,1.0,0,0,1,1.0,1.0,1.0,1.0,2013
21,1,0.0,0,0,1,1.0,0.0,1.0,1.0,2013
22,1,0.0,1,0,1,1.0,1.0,1.0,1.0,2013
23,1,0.0,1,1,1,1.0,0.0,1.0,1.0,2013
24,1,0.0,0,0,0,0.0,1.0,NaN,0.0,2013
25,1,1.0,1,1,1,1.0,1.0,1.0,1.0,2013
26,1,1.0,1,0,1,1.0,1.0,1.0,1.0,2013
27,1,1.0,0,0,1,1.0,0.0,1.0,1.0,2013
28,1,0.0,1,0,1,1.0,1.0,1.0,1.0,2013
29,1,0.0,1,1,1,0.0,0.0,1.0,1.0,2013
...,...,...,...,...,...,...,...,...,...,...
491743,72,0.0,1,0,1,1.0,1.0,1.0,1.0,2013
491744,72,0.0,0,0,1,1.0,1.0,1.0,1.0,2013
491745,72,0.0,9900,0,1,0.0,1.0,1.0,0.0,2013
491746,72,0.0,0,0,1,1.0,0.0,1.0,1.0,2013
491747,72,0.0,0,0,1,1.0,1.0,1.0,1.0,2013
491748,72,0.0,1,0,1,1.0,0.0,1.0,1.0,2013
491749,72,1.0,0,0,1,1.0,0.0,1.0,1.0,2013
491750,72,0.0,0,0,1,0.0,0.0,1.0,1.0,2013
491751,72,0.0,0,0,1,0.0,1.0,1.0,1.0,2013
491752,72,1.0,0,0,1,0.0,0.0,0.0,1.0,2013
491753,72,1.0,1,0,1,1.0,1.0,1.0,1.0,2013
491754,72,1.0,0,0,1,0.0,0.0,1.0,1.0,2013
491755,72,0.0,0,0,0,0.0,0.0,1.0,0.0,2013
491756,72,1.0,0,0,1,0.0,1.0,1.0,1.0,2013
491757,72,0.0,0,0,1,1.0,1.0,1.0,1.0,2013
491758,72,77.0,0,0,1,1.0,1.0,1.0,1.0,2013
491759,72,0.0,0,0,1,1.0,1.0,1.0,1.0,2013
491760,72,0.0,0,0,1,0.0,0.0,0.0,0.0,2013
491761,72,0.0,1,1,0,1.0,0.0,1.0,1.0,2013
491762,72,0.0,0,0,1,1.0,1.0,1.0,1.0,2013
491763,72,0.0,0,0,1,1.0,0.0,1.0,1.0,2013
491764,72,0.0,1,0,1,1.0,1.0,1.0,1.0,2013
491765,72,1.0,1,0,1,1.0,1.0,1.0,1.0,2013
491766,72,1.0,1,0,1,1.0,0.0,0.0,0.0,2013
491767,72,0.0,0,0,1,1.0,1.0,1.0,1.0,2013
491768,72,1.0,0,0,1,1.0,1.0,1.0,1.0,2013
491769,72,0.0,0,0,1,0.0,1.0,1.0,1.0,2013
491770,72,0.0,0,0,1,1.0,0.0,1.0,1.0,2013
491771,72,1.0,0,0,1,1.0,1.0,1.0,1.0,2013
491772,72,0.0,0,0,1,0.0,1.0,1.0,0.0,2013

In [16]:
query = "select `x.state`   as state , \
                MENTHLTH    as mentalhealth ,\
                `x.DRNKDY4` as drink, \
                `x.RFSMOK3` as smoke, \
                `x.EDUCAG`  as education, \
                `EXERANY2`  as workout \
        from BRFSS_2012"                
        
    
brfssDF2012 = pd.read_sql_query(query, conn)
brfssDF2012['fruit'] = np.nan
brfssDF2012['vegetable'] = np.nan
brfssDF2012['year']=2012

brfssDF2012.insert(5, "internet", np.nan) 

brfssDF2012.head()

,state,mentalhealth,drink,smoke,education,internet,workout,fruit,vegetable,year
0,1,88,0,1,3,NaN,2.0,NaN,NaN,2012
1,1,88,20,1,4,NaN,1.0,NaN,NaN,2012
2,1,2,9900,1,4,NaN,2.0,NaN,NaN,2012
3,1,88,0,1,1,NaN,2.0,NaN,NaN,2012
4,1,88,0,1,2,NaN,1.0,NaN,NaN,2012

In [17]:
brfssDF2012.loc[(brfssDF2012.mentalhealth == 88) , 'mentalhealth'] = 0 
brfssDF2012.loc[(brfssDF2012.mentalhealth.notnull()) & \
                (brfssDF2012.mentalhealth != 0) & \
                (brfssDF2012.mentalhealth != 77) & \
                (brfssDF2012.mentalhealth != 99), 'mentalhealth'] = 1  

brfssDF2012.loc[(brfssDF2012.drink == 0) , 'drink'] = 0 
brfssDF2012.loc[(brfssDF2012.drink != 0) & \
                (brfssDF2012.drink != 9900) , 'drink'] = 1 

brfssDF2012.loc[(brfssDF2012.smoke == 1) , 'smoke'] = 0 
brfssDF2012.loc[(brfssDF2012.smoke == 2) , 'smoke'] = 1 

brfssDF2012.loc[(brfssDF2012.education == 1) , 'education'] = 0 
brfssDF2012.loc[(brfssDF2012.education == 2) | \
                (brfssDF2012.education == 3) | \
                (brfssDF2012.education == 4), 'education'] = 1 

brfssDF2012.loc[(brfssDF2012.internet == 2) , 'internet'] = 0 
brfssDF2012.loc[(brfssDF2012.internet == 1) , 'internet'] = 1 

brfssDF2012.loc[(brfssDF2012.workout == 2) , 'workout'] = 0 
brfssDF2012.loc[(brfssDF2012.workout == 1) , 'workout'] = 1 

brfssDF2012.loc[(brfssDF2012.fruit == 0) , 'fruit'] = 0 
brfssDF2012.loc[(brfssDF2012.fruit.notnull()) & \
                (brfssDF2012.fruit != 0) , 'fruit'] = 1  

brfssDF2012.loc[(brfssDF2012.vegetable == 0) , 'vegetable'] = 0 
brfssDF2012.loc[(brfssDF2012.vegetable.notnull()) & \
                (brfssDF2012.vegetable != 0) , 'vegetable'] = 1  


brfssDF2012

,state,mentalhealth,drink,smoke,education,internet,workout,fruit,vegetable,year
0,1,0,0,0,1,NaN,0.0,NaN,NaN,2012
1,1,0,1,0,1,NaN,1.0,NaN,NaN,2012
2,1,1,9900,0,1,NaN,0.0,NaN,NaN,2012
3,1,0,0,0,0,NaN,0.0,NaN,NaN,2012
4,1,0,0,0,1,NaN,1.0,NaN,NaN,2012
5,1,0,1,0,1,NaN,0.0,NaN,NaN,2012
6,1,0,1,0,1,NaN,1.0,NaN,NaN,2012
7,1,0,1,0,1,NaN,0.0,NaN,NaN,2012
8,1,0,0,1,1,NaN,1.0,NaN,NaN,2012
9,1,0,0,0,1,NaN,1.0,NaN,NaN,2012
10,1,0,0,0,1,NaN,1.0,NaN,NaN,2012
11,1,0,0,0,1,NaN,1.0,NaN,NaN,2012
12,1,77,0,0,1,NaN,0.0,NaN,NaN,2012
13,1,0,0,0,1,NaN,0.0,NaN,NaN,2012
14,1,1,1,0,1,NaN,1.0,NaN,NaN,2012
15,1,0,0,0,1,NaN,1.0,NaN,NaN,2012
16,1,0,0,0,1,NaN,1.0,NaN,NaN,2012
17,1,77,1,1,1,NaN,1.0,NaN,NaN,2012
18,1,1,0,0,1,NaN,1.0,NaN,NaN,2012
19,1,0,1,0,1,NaN,1.0,NaN,NaN,2012
20,1,0,9900,0,0,NaN,1.0,NaN,NaN,2012
21,1,0,0,0,1,NaN,1.0,NaN,NaN,2012
22,1,0,0,0,1,NaN,1.0,NaN,NaN,2012
23,1,1,0,0,0,NaN,1.0,NaN,NaN,2012
24,1,1,0,0,1,NaN,0.0,NaN,NaN,2012
25,1,1,0,0,0,NaN,1.0,NaN,NaN,2012
26,1,1,0,0,1,NaN,0.0,NaN,NaN,2012
27,1,1,1,1,1,NaN,1.0,NaN,NaN,2012
28,1,0,0,0,1,NaN,1.0,NaN,NaN,2012
29,1,0,0,0,1,NaN,1.0,NaN,NaN,2012
...,...,...,...,...,...,...,...,...,...,...
475657,72,0,9900,9,1,NaN,0.0,NaN,NaN,2012
475658,72,0,1,0,1,NaN,1.0,NaN,NaN,2012
475659,72,0,9900,9,9,NaN,1.0,NaN,NaN,2012
475660,72,0,0,0,0,NaN,0.0,NaN,NaN,2012
475661,72,0,0,0,1,NaN,1.0,NaN,NaN,2012
475662,72,0,1,0,1,NaN,0.0,NaN,NaN,2012
475663,72,0,9900,9,1,NaN,0.0,NaN,NaN,2012
475664,72,0,0,0,0,NaN,1.0,NaN,NaN,2012
475665,72,0,0,0,1,NaN,0.0,NaN,NaN,2012
475666,72,0,9900,9,1,NaN,1.0,NaN,NaN,2012
475667,72,0,0,0,1,NaN,1.0,NaN,NaN,2012
475668,72,1,0,0,1,NaN,1.0,NaN,NaN,2012
475669,72,0,1,0,1,NaN,1.0,NaN,NaN,2012
475670,72,0,1,0,1,NaN,0.0,NaN,NaN,2012
475671,72,1,1,0,1,NaN,0.0,NaN,NaN,2012
475672,72,0,0,0,1,NaN,1.0,NaN,NaN,2012
475673,72,0,1,0,1,NaN,1.0,NaN,NaN,2012
475674,72,0,0,0,1,NaN,1.0,NaN,NaN,2012
475675,72,1,0,0,1,NaN,1.0,NaN,NaN,2012
475676,72,0,9900,9,0,NaN,0.0,NaN,NaN,2012
475677,72,1,0,1,1,NaN,1.0,NaN,NaN,2012
475678,72,0,0,0,1,NaN,0.0,NaN,NaN,2012
475679,72,0,0,0,1,NaN,0.0,NaN,NaN,2012
475680,72,1,0,0,1,NaN,0.0,NaN,NaN,2012
475681,72,0,0,0,9,NaN,1.0,NaN,NaN,2012
475682,72,1,1,1,1,NaN,1.0,NaN,NaN,2012
475683,72,0,1,0,1,NaN,1.0,NaN,NaN,2012
475684,72,0,1,1,1,NaN,1.0,NaN,NaN,2012
475685,72,0,0,0,1,NaN,1.0,NaN,NaN,2012
475686,72,0,0,0,1,NaN,1.0,NaN,NaN,2012

In [18]:
query = "select `x.state`   as state , \
                MENTHLTH    as mentalhealth ,\
                `x.DRNKDY4` as drink, \
                `x.RFSMOK3` as smoke, \
                `x.EDUCAG`  as education, \
                `EXERANY2`  as workout ,\
                `FRUTDA1.`  as fruit, \
                `GRENDAY.`  as vegetable \
        from BRFSS_2011"                
        
    
brfssDF2011 = pd.read_sql_query(query, conn)
brfssDF2011['year']=2011

brfssDF2011.insert(5, "internet", np.nan) 

brfssDF2011.head()

,state,mentalhealth,drink,smoke,education,internet,workout,fruit,vegetable,year
0,1,30,86.0,2,2,NaN,2.0,71.0,57.0,2011
1,1,4,9900.0,2,1,NaN,2.0,100.0,10.0,2011
2,1,3,14.0,1,4,NaN,1.0,100.0,29.0,2011
3,1,88,9900.0,1,2,NaN,NaN,NaN,NaN,2011
4,1,15,0.0,1,1,NaN,1.0,100.0,43.0,2011

In [19]:
brfssDF2011.loc[(brfssDF2011.mentalhealth == 88) , 'mentalhealth'] = 0 
brfssDF2011.loc[(brfssDF2011.mentalhealth.notnull()) & \
                (brfssDF2011.mentalhealth != 0) & \
                (brfssDF2011.mentalhealth != 77) & \
                (brfssDF2011.mentalhealth != 99), 'mentalhealth'] = 1  

brfssDF2011.loc[(brfssDF2011.drink == 0) , 'drink'] = 0 
brfssDF2011.loc[(brfssDF2011.drink != 0) & \
                (brfssDF2011.drink != 9900) , 'drink'] = 1 

brfssDF2011.loc[(brfssDF2011.smoke == 1) , 'smoke'] = 0 
brfssDF2011.loc[(brfssDF2011.smoke == 2) , 'smoke'] = 1 

brfssDF2011.loc[(brfssDF2011.education == 1) , 'education'] = 0 
brfssDF2011.loc[(brfssDF2011.education == 2) | \
                (brfssDF2011.education == 3) | \
                (brfssDF2011.education == 4), 'education'] = 1 

brfssDF2011.loc[(brfssDF2011.internet == 2) , 'internet'] = 0 
brfssDF2011.loc[(brfssDF2011.internet == 1) , 'internet'] = 1 

brfssDF2011.loc[(brfssDF2011.workout == 2) , 'workout'] = 0 
brfssDF2011.loc[(brfssDF2011.workout == 1) , 'workout'] = 1 

brfssDF2011.loc[(brfssDF2011.fruit == 0) , 'fruit'] = 0 
brfssDF2011.loc[(brfssDF2011.fruit.notnull()) & \
                (brfssDF2011.fruit != 0) , 'fruit'] = 1  

brfssDF2011.loc[(brfssDF2011.vegetable == 0) , 'vegetable'] = 0 
brfssDF2011.loc[(brfssDF2011.vegetable.notnull()) & \
                (brfssDF2011.vegetable != 0) , 'vegetable'] = 1  


brfssDF2011

,state,mentalhealth,drink,smoke,education,internet,workout,fruit,vegetable,year
0,1,1,1.0,1,1,NaN,0.0,1.0,1.0,2011
1,1,1,9900.0,1,0,NaN,0.0,1.0,1.0,2011
2,1,1,1.0,0,1,NaN,1.0,1.0,1.0,2011
3,1,0,9900.0,0,1,NaN,NaN,NaN,NaN,2011
4,1,1,0.0,0,0,NaN,1.0,1.0,1.0,2011
5,1,0,0.0,0,1,NaN,1.0,1.0,1.0,2011
6,1,0,9900.0,0,9,NaN,NaN,NaN,NaN,2011
7,1,1,0.0,1,1,NaN,0.0,1.0,1.0,2011
8,1,1,9900.0,0,1,NaN,NaN,NaN,NaN,2011
9,1,0,9900.0,0,1,NaN,NaN,NaN,NaN,2011
10,1,1,9900.0,0,0,NaN,NaN,0.0,1.0,2011
11,1,0,1.0,0,1,NaN,0.0,1.0,1.0,2011
12,1,0,9900.0,0,1,NaN,NaN,NaN,NaN,2011
13,1,0,9900.0,0,1,NaN,NaN,NaN,NaN,2011
14,1,0,9900.0,0,1,NaN,0.0,1.0,1.0,2011
15,1,0,9900.0,1,1,NaN,0.0,1.0,1.0,2011
16,1,1,9900.0,1,1,NaN,1.0,1.0,1.0,2011
17,1,0,9900.0,0,1,NaN,NaN,NaN,NaN,2011
18,1,0,9900.0,0,1,NaN,1.0,1.0,1.0,2011
19,1,1,9900.0,1,1,NaN,NaN,1.0,1.0,2011
20,1,1,9900.0,0,1,NaN,1.0,1.0,1.0,2011
21,1,1,9900.0,0,1,NaN,1.0,1.0,1.0,2011
22,1,0,9900.0,0,1,NaN,1.0,1.0,1.0,2011
23,1,1,9900.0,1,1,NaN,NaN,NaN,NaN,2011
24,1,1,9900.0,0,1,NaN,NaN,1.0,1.0,2011
25,1,1,9900.0,1,1,NaN,NaN,NaN,NaN,2011
26,1,1,9900.0,0,0,NaN,NaN,NaN,NaN,2011
27,1,0,9900.0,0,1,NaN,1.0,1.0,1.0,2011
28,1,0,1.0,0,1,NaN,1.0,1.0,1.0,2011
29,1,1,1.0,0,1,NaN,0.0,1.0,1.0,2011
...,...,...,...,...,...,...,...,...,...,...
506437,72,0,0.0,0,0,NaN,0.0,1.0,0.0,2011
506438,72,0,0.0,0,1,NaN,1.0,1.0,1.0,2011
506439,72,1,0.0,0,1,NaN,1.0,1.0,0.0,2011
506440,72,0,0.0,0,1,NaN,0.0,1.0,1.0,2011
506441,72,1,1.0,0,1,NaN,0.0,1.0,0.0,2011
506442,72,0,1.0,0,1,NaN,0.0,1.0,1.0,2011
506443,72,0,0.0,0,9,NaN,0.0,1.0,1.0,2011
506444,72,0,9900.0,0,1,NaN,NaN,NaN,NaN,2011
506445,72,0,0.0,0,1,NaN,1.0,1.0,1.0,2011
506446,72,0,1.0,0,1,NaN,1.0,1.0,1.0,2011
506447,72,1,9900.0,0,1,NaN,NaN,NaN,NaN,2011
506448,72,0,9900.0,0,1,NaN,NaN,NaN,NaN,2011
506449,72,0,0.0,0,1,NaN,0.0,1.0,0.0,2011
506450,72,0,9900.0,0,1,NaN,NaN,NaN,NaN,2011
506451,72,0,9900.0,0,1,NaN,NaN,NaN,NaN,2011
506452,72,0,0.0,0,1,NaN,1.0,1.0,1.0,2011
506453,72,0,9900.0,0,1,NaN,1.0,0.0,1.0,2011
506454,72,0,0.0,0,1,NaN,0.0,1.0,1.0,2011
506455,72,0,1.0,0,1,NaN,0.0,NaN,1.0,2011
506456,72,0,1.0,0,1,NaN,0.0,1.0,1.0,2011
506457,72,1,0.0,0,1,NaN,0.0,1.0,1.0,2011
506458,72,0,9900.0,1,1,NaN,NaN,0.0,NaN,2011
506459,72,0,0.0,0,1,NaN,1.0,1.0,1.0,2011
506460,72,1,0.0,0,1,NaN,1.0,1.0,1.0,2011
506461,72,0,0.0,0,1,NaN,1.0,1.0,1.0,2011
506462,72,1,0.0,0,1,NaN,1.0,1.0,1.0,2011
506463,72,1,1.0,0,1,NaN,1.0,1.0,1.0,2011
506464,72,0,0.0,0,1,NaN,0.0,1.0,1.0,2011
506465,72,0,0.0,0,1,NaN,1.0,1.0,1.0,2011
506466,72,1,0.0,0,1,NaN,1.0,1.0,0.0,2011

In [20]:
query = "select `x.state`   as state , \
                MENTHLTH    as mentalhealth ,\
                `x.DRNKDY3` as drink, \
                `x.RFSMOK3` as smoke, \
                `x.EDUCAG`  as education, \
                `EXERANY2`  as workout \
        from BRFSS_2010"                
        
    
brfssDF2010 = pd.read_sql_query(query, conn)
brfssDF2010['fruit'] = np.nan
brfssDF2010['vegetable'] = np.nan
brfssDF2010['year']=2010

brfssDF2010.insert(5, "internet", np.nan) 

brfssDF2010.head()

,state,mentalhealth,drink,smoke,education,internet,workout,fruit,vegetable,year
0,1,77.0,0,1,2,NaN,2.0,NaN,NaN,2010
1,1,30.0,0,1,3,NaN,2.0,NaN,NaN,2010
2,1,99.0,9900,2,2,NaN,1.0,NaN,NaN,2010
3,1,5.0,17,1,2,NaN,2.0,NaN,NaN,2010
4,1,5.0,0,1,2,NaN,2.0,NaN,NaN,2010

In [21]:
brfssDF2010.loc[(brfssDF2010.mentalhealth == 88) , 'mentalhealth'] = 0 
brfssDF2010.loc[(brfssDF2010.mentalhealth.notnull()) & \
                (brfssDF2010.mentalhealth != 0) & \
                (brfssDF2010.mentalhealth != 77) & \
                (brfssDF2010.mentalhealth != 99), 'mentalhealth'] = 1  

brfssDF2010.loc[(brfssDF2010.drink == 0) , 'drink'] = 0 
brfssDF2010.loc[(brfssDF2010.drink != 0) & \
                (brfssDF2010.drink != 9900) , 'drink'] = 1 

brfssDF2010.loc[(brfssDF2010.smoke == 1) , 'smoke'] = 0 
brfssDF2010.loc[(brfssDF2010.smoke == 2) , 'smoke'] = 1 

brfssDF2010.loc[(brfssDF2010.education == 1) , 'education'] = 0 
brfssDF2010.loc[(brfssDF2010.education == 2) | \
                (brfssDF2010.education == 3) | \
                (brfssDF2010.education == 4), 'education'] = 1 

brfssDF2010.loc[(brfssDF2010.internet == 2) , 'internet'] = 0 
brfssDF2010.loc[(brfssDF2010.internet == 1) , 'internet'] = 1 

brfssDF2010.loc[(brfssDF2010.workout == 2) , 'workout'] = 0 
brfssDF2010.loc[(brfssDF2010.workout == 1) , 'workout'] = 1 

brfssDF2010.loc[(brfssDF2010.fruit == 0) , 'fruit'] = 0 
brfssDF2010.loc[(brfssDF2010.fruit.notnull()) & \
                (brfssDF2010.fruit != 0) , 'fruit'] = 1  

brfssDF2010.loc[(brfssDF2010.vegetable == 0) , 'vegetable'] = 0 
brfssDF2010.loc[(brfssDF2010.vegetable.notnull()) & \
                (brfssDF2010.vegetable != 0) , 'vegetable'] = 1  


brfssDF2010

,state,mentalhealth,drink,smoke,education,internet,workout,fruit,vegetable,year
0,1,77.0,0,0,1,NaN,0.0,NaN,NaN,2010
1,1,1.0,0,0,1,NaN,0.0,NaN,NaN,2010
2,1,99.0,9900,1,1,NaN,1.0,NaN,NaN,2010
3,1,1.0,1,0,1,NaN,0.0,NaN,NaN,2010
4,1,1.0,0,0,1,NaN,0.0,NaN,NaN,2010
5,1,0.0,1,1,0,NaN,0.0,NaN,NaN,2010
6,1,0.0,1,1,0,NaN,1.0,NaN,NaN,2010
7,1,0.0,0,0,1,NaN,1.0,NaN,NaN,2010
8,1,0.0,0,0,0,NaN,1.0,NaN,NaN,2010
9,1,0.0,0,0,1,NaN,1.0,NaN,NaN,2010
10,1,1.0,0,0,0,NaN,1.0,NaN,NaN,2010
11,1,1.0,0,0,1,NaN,1.0,NaN,NaN,2010
12,1,0.0,0,0,1,NaN,1.0,NaN,NaN,2010
13,1,0.0,0,1,1,NaN,1.0,NaN,NaN,2010
14,1,0.0,0,0,1,NaN,1.0,NaN,NaN,2010
15,1,0.0,0,0,1,NaN,1.0,NaN,NaN,2010
16,1,0.0,1,1,0,NaN,1.0,NaN,NaN,2010
17,1,0.0,1,0,1,NaN,1.0,NaN,NaN,2010
18,1,1.0,0,0,1,NaN,1.0,NaN,NaN,2010
19,1,0.0,0,0,1,NaN,1.0,NaN,NaN,2010
20,1,0.0,1,0,0,NaN,0.0,NaN,NaN,2010
21,1,0.0,0,0,0,NaN,0.0,NaN,NaN,2010
22,1,0.0,1,1,1,NaN,1.0,NaN,NaN,2010
23,1,1.0,0,0,0,NaN,1.0,NaN,NaN,2010
24,1,0.0,0,0,1,NaN,1.0,NaN,NaN,2010
25,1,0.0,1,0,1,NaN,1.0,NaN,NaN,2010
26,1,0.0,9900,0,1,NaN,0.0,NaN,NaN,2010
27,1,0.0,0,0,0,NaN,0.0,NaN,NaN,2010
28,1,0.0,0,0,1,NaN,1.0,NaN,NaN,2010
29,1,0.0,0,0,1,NaN,1.0,NaN,NaN,2010
...,...,...,...,...,...,...,...,...,...,...
451045,78,0.0,1,0,1,NaN,0.0,NaN,NaN,2010
451046,78,1.0,0,0,9,NaN,1.0,NaN,NaN,2010
451047,78,1.0,0,0,1,NaN,1.0,NaN,NaN,2010
451048,78,0.0,0,0,1,NaN,0.0,NaN,NaN,2010
451049,78,0.0,1,0,1,NaN,1.0,NaN,NaN,2010
451050,78,0.0,1,0,1,NaN,1.0,NaN,NaN,2010
451051,78,0.0,1,0,1,NaN,0.0,NaN,NaN,2010
451052,78,0.0,1,1,0,NaN,0.0,NaN,NaN,2010
451053,78,1.0,1,0,1,NaN,1.0,NaN,NaN,2010
451054,78,99.0,1,0,1,NaN,1.0,NaN,NaN,2010
451055,78,0.0,1,0,1,NaN,1.0,NaN,NaN,2010
451056,78,0.0,0,0,1,NaN,1.0,NaN,NaN,2010
451057,78,0.0,0,0,0,NaN,0.0,NaN,NaN,2010
451058,78,99.0,0,0,1,NaN,0.0,NaN,NaN,2010
451059,78,1.0,1,0,1,NaN,1.0,NaN,NaN,2010
451060,78,0.0,9900,0,1,NaN,0.0,NaN,NaN,2010
451061,78,0.0,1,0,1,NaN,0.0,NaN,NaN,2010
451062,78,0.0,0,0,1,NaN,1.0,NaN,NaN,2010
451063,78,0.0,1,0,1,NaN,1.0,NaN,NaN,2010
451064,78,0.0,9900,0,1,NaN,1.0,NaN,NaN,2010
451065,78,1.0,1,0,1,NaN,1.0,NaN,NaN,2010
451066,78,1.0,0,0,1,NaN,1.0,NaN,NaN,2010
451067,78,1.0,0,0,1,NaN,1.0,NaN,NaN,2010
451068,78,0.0,0,0,1,NaN,1.0,NaN,NaN,2010
451069,78,1.0,0,0,1,NaN,0.0,NaN,NaN,2010
451070,78,0.0,0,0,0,NaN,0.0,NaN,NaN,2010
451071,78,0.0,1,0,9,NaN,1.0,NaN,NaN,2010
451072,78,0.0,0,0,1,NaN,0.0,NaN,NaN,2010
451073,78,0.0,0,0,1,NaN,1.0,NaN,NaN,2010
451074,78,1.0,1,0,1,NaN,0.0,NaN,NaN,2010

In [22]:
query = "select `x.state`   as state , \
                MENTHLTH    as mentalhealth ,\
                `x.DRNKDY3` as drink, \
                `x.RFSMOK3` as smoke, \
                `x.EDUCAG`  as education, \
                `EXERANY2`  as workout ,\
                `FRUTDAY.`  as fruit, \
                `GNSLDAY.`  as vegetable \
        from BRFSS_2009"                
        
    
brfssDF2009 = pd.read_sql_query(query, conn)
brfssDF2009['year']=2009

brfssDF2009.insert(5, "internet", np.nan) 

brfssDF2009.head()

,state,mentalhealth,drink,smoke,education,internet,workout,fruit,vegetable,year
0,1,88.0,0,1,2,NaN,2.0,3,0,2009
1,1,88.0,200,2,4,NaN,1.0,3,10,2009
2,1,88.0,9900,2,2,NaN,1.0,990,14,2009
3,1,30.0,0,1,2,NaN,2.0,990,990,2009
4,1,15.0,13,1,2,NaN,1.0,990,990,2009

In [23]:
brfssDF2009.loc[(brfssDF2009.mentalhealth == 88) , 'mentalhealth'] = 0 
brfssDF2009.loc[(brfssDF2009.mentalhealth.notnull()) & \
                (brfssDF2009.mentalhealth != 0) & \
                (brfssDF2009.mentalhealth != 77) & \
                (brfssDF2009.mentalhealth != 99), 'mentalhealth'] = 1  

brfssDF2009.loc[(brfssDF2009.drink == 0) , 'drink'] = 0 
brfssDF2009.loc[(brfssDF2009.drink != 0) & \
                (brfssDF2009.drink != 9900) , 'drink'] = 1 

brfssDF2009.loc[(brfssDF2009.smoke == 1) , 'smoke'] = 0 
brfssDF2009.loc[(brfssDF2009.smoke == 2) , 'smoke'] = 1 

brfssDF2009.loc[(brfssDF2009.education == 1) , 'education'] = 0 
brfssDF2009.loc[(brfssDF2009.education == 2) | \
                (brfssDF2009.education == 3) | \
                (brfssDF2009.education == 4), 'education'] = 1 

brfssDF2009.loc[(brfssDF2009.internet == 2) , 'internet'] = 0 
brfssDF2009.loc[(brfssDF2009.internet == 1) , 'internet'] = 1 

brfssDF2009.loc[(brfssDF2009.workout == 2) , 'workout'] = 0 
brfssDF2009.loc[(brfssDF2009.workout == 1) , 'workout'] = 1 

brfssDF2009.loc[(brfssDF2009.fruit == 0) , 'fruit'] = 0 
brfssDF2009.loc[(brfssDF2009.fruit != 990) & \
                (brfssDF2009.fruit != 0) , 'fruit'] = 1  

brfssDF2009.loc[(brfssDF2009.vegetable == 0) , 'vegetable'] = 0 
brfssDF2009.loc[(brfssDF2009.vegetable != 990) & \
                (brfssDF2009.vegetable != 0) , 'vegetable'] = 1  


brfssDF2009

,state,mentalhealth,drink,smoke,education,internet,workout,fruit,vegetable,year
0,1,0.0,0,0,1,NaN,0.0,1,0,2009
1,1,0.0,1,1,1,NaN,1.0,1,1,2009
2,1,0.0,9900,1,1,NaN,1.0,990,1,2009
3,1,1.0,0,0,1,NaN,0.0,990,990,2009
4,1,1.0,1,0,1,NaN,1.0,990,990,2009
5,1,0.0,0,0,0,NaN,0.0,1,0,2009
6,1,0.0,0,0,0,NaN,1.0,990,990,2009
7,1,0.0,0,0,1,NaN,1.0,990,990,2009
8,1,1.0,0,0,1,NaN,1.0,990,990,2009
9,1,1.0,0,0,0,NaN,1.0,1,1,2009
10,1,0.0,0,0,1,NaN,1.0,990,1,2009
11,1,1.0,9900,0,1,NaN,1.0,990,990,2009
12,1,1.0,0,1,1,NaN,0.0,990,990,2009
13,1,1.0,1,0,1,NaN,1.0,1,1,2009
14,1,0.0,9900,0,1,NaN,0.0,990,990,2009
15,1,1.0,0,0,1,NaN,1.0,990,990,2009
16,1,1.0,0,0,1,NaN,1.0,990,990,2009
17,1,0.0,0,0,1,NaN,1.0,990,990,2009
18,1,0.0,0,1,1,NaN,0.0,990,990,2009
19,1,1.0,0,0,1,NaN,1.0,990,990,2009
20,1,0.0,0,0,1,NaN,1.0,1,0,2009
21,1,0.0,9900,0,1,NaN,0.0,990,990,2009
22,1,0.0,0,1,1,NaN,1.0,1,1,2009
23,1,0.0,0,0,0,NaN,0.0,990,990,2009
24,1,0.0,9900,0,1,NaN,1.0,990,990,2009
25,1,1.0,9900,0,1,NaN,1.0,990,990,2009
26,1,0.0,1,0,1,NaN,1.0,990,990,2009
27,1,0.0,1,0,1,NaN,1.0,990,990,2009
28,1,1.0,9900,0,1,NaN,1.0,990,990,2009
29,1,1.0,0,1,1,NaN,1.0,1,1,2009
...,...,...,...,...,...,...,...,...,...,...
432577,78,1.0,1,0,1,NaN,1.0,1,1,2009
432578,78,0.0,1,0,1,NaN,0.0,1,1,2009
432579,78,1.0,0,0,1,NaN,1.0,1,1,2009
432580,78,1.0,1,0,1,NaN,1.0,1,1,2009
432581,78,0.0,0,0,0,NaN,1.0,990,0,2009
432582,78,0.0,0,0,1,NaN,0.0,1,1,2009
432583,78,0.0,0,0,1,NaN,1.0,1,1,2009
432584,78,99.0,0,0,1,NaN,0.0,990,1,2009
432585,78,0.0,0,0,0,NaN,1.0,1,1,2009
432586,78,0.0,1,0,1,NaN,1.0,1,1,2009
432587,78,0.0,1,0,1,NaN,1.0,1,1,2009
432588,78,1.0,0,0,0,NaN,0.0,1,1,2009
432589,78,0.0,0,0,1,NaN,0.0,1,0,2009
432590,78,0.0,9900,0,1,NaN,1.0,990,990,2009
432591,78,0.0,1,9,1,NaN,1.0,1,1,2009
432592,78,0.0,0,0,1,NaN,1.0,1,1,2009
432593,78,1.0,0,0,0,NaN,0.0,1,990,2009
432594,78,0.0,1,0,1,NaN,0.0,1,1,2009
432595,78,0.0,0,0,1,NaN,1.0,1,1,2009
432596,78,0.0,1,0,1,NaN,0.0,1,1,2009
432597,78,0.0,0,0,1,NaN,1.0,1,1,2009
432598,78,0.0,0,0,0,NaN,1.0,1,1,2009
432599,78,0.0,1,0,1,NaN,1.0,1,1,2009
432600,78,0.0,0,0,0,NaN,1.0,1,1,2009
432601,78,1.0,0,0,0,NaN,0.0,1,1,2009
432602,78,1.0,0,0,1,NaN,1.0,990,990,2009
432603,78,0.0,0,0,9,NaN,1.0,1,1,2009
432604,78,1.0,9900,0,1,NaN,1.0,990,990,2009
432605,78,1.0,0,0,1,NaN,0.0,1,1,2009
432606,78,0.0,1,0,0,NaN,1.0,1,1,2009

In [24]:
query = "select `x.state`   as state , \
                MENTHLTH    as mentalhealth ,\
                `x.DRNKDY3` as drink, \
                `x.RFSMOK3` as smoke, \
                `x.EDUCAG`  as education, \
                `EXERANY2`  as workout \
        from BRFSS_2008"                
        
    
brfssDF2008 = pd.read_sql_query(query, conn)
brfssDF2008['fruit'] = np.nan
brfssDF2008['vegetable'] = np.nan
brfssDF2008['year']=2008

brfssDF2008.insert(5, "internet", np.nan) 

brfssDF2008.head()

,state,mentalhealth,drink,smoke,education,internet,workout,fruit,vegetable,year
0,1,88,0,1,3,NaN,2,NaN,NaN,2008
1,1,88,0,1,3,NaN,1,NaN,NaN,2008
2,1,10,0,2,2,NaN,2,NaN,NaN,2008
3,1,88,0,1,4,NaN,1,NaN,NaN,2008
4,1,88,0,1,1,NaN,1,NaN,NaN,2008

In [25]:
brfssDF2008.loc[(brfssDF2008.mentalhealth == 88) , 'mentalhealth'] = 0 
brfssDF2008.loc[(brfssDF2008.mentalhealth.notnull()) & \
                (brfssDF2008.mentalhealth != 0) & \
                (brfssDF2008.mentalhealth != 77) & \
                (brfssDF2008.mentalhealth != 99), 'mentalhealth'] = 1  

brfssDF2008.loc[(brfssDF2008.drink == 0) , 'drink'] = 0 
brfssDF2008.loc[(brfssDF2008.drink != 0) & \
                (brfssDF2008.drink != 9900) , 'drink'] = 1 

brfssDF2008.loc[(brfssDF2008.smoke == 1) , 'smoke'] = 0 
brfssDF2008.loc[(brfssDF2008.smoke == 2) , 'smoke'] = 1 

brfssDF2008.loc[(brfssDF2008.education == 1) , 'education'] = 0 
brfssDF2008.loc[(brfssDF2008.education == 2) | \
                (brfssDF2008.education == 3) | \
                (brfssDF2008.education == 4), 'education'] = 1 

brfssDF2008.loc[(brfssDF2008.internet == 2) , 'internet'] = 0 
brfssDF2008.loc[(brfssDF2008.internet == 1) , 'internet'] = 1 

brfssDF2008.loc[(brfssDF2008.workout == 2) , 'workout'] = 0 
brfssDF2008.loc[(brfssDF2008.workout == 1) , 'workout'] = 1 

brfssDF2008.loc[(brfssDF2008.fruit == 0) , 'fruit'] = 0 
brfssDF2008.loc[(brfssDF2008.fruit.notnull()) & \
                (brfssDF2008.fruit != 0) , 'fruit'] = 1  

brfssDF2008.loc[(brfssDF2008.vegetable == 0) , 'vegetable'] = 0 
brfssDF2008.loc[(brfssDF2008.vegetable.notnull()) & \
                (brfssDF2008.vegetable != 0) , 'vegetable'] = 1  


brfssDF2008

,state,mentalhealth,drink,smoke,education,internet,workout,fruit,vegetable,year
0,1,0,0,0,1,NaN,0,NaN,NaN,2008
1,1,0,0,0,1,NaN,1,NaN,NaN,2008
2,1,1,0,1,1,NaN,0,NaN,NaN,2008
3,1,0,0,0,1,NaN,1,NaN,NaN,2008
4,1,0,0,0,0,NaN,1,NaN,NaN,2008
5,1,0,1,0,1,NaN,1,NaN,NaN,2008
6,1,1,1,0,1,NaN,1,NaN,NaN,2008
7,1,0,0,0,1,NaN,0,NaN,NaN,2008
8,1,0,0,0,1,NaN,0,NaN,NaN,2008
9,1,0,1,0,1,NaN,1,NaN,NaN,2008
10,1,1,0,1,0,NaN,0,NaN,NaN,2008
11,1,0,0,0,1,NaN,1,NaN,NaN,2008
12,1,0,0,0,1,NaN,1,NaN,NaN,2008
13,1,0,1,0,1,NaN,0,NaN,NaN,2008
14,1,1,0,1,0,NaN,1,NaN,NaN,2008
15,1,1,0,1,0,NaN,1,NaN,NaN,2008
16,1,1,0,0,1,NaN,1,NaN,NaN,2008
17,1,1,1,0,0,NaN,0,NaN,NaN,2008
18,1,0,1,0,1,NaN,0,NaN,NaN,2008
19,1,77,0,0,1,NaN,0,NaN,NaN,2008
20,1,0,0,0,1,NaN,0,NaN,NaN,2008
21,1,0,0,0,1,NaN,1,NaN,NaN,2008
22,1,1,0,0,1,NaN,1,NaN,NaN,2008
23,1,1,9900,1,1,NaN,0,NaN,NaN,2008
24,1,0,0,1,1,NaN,0,NaN,NaN,2008
25,1,1,1,0,1,NaN,1,NaN,NaN,2008
26,1,0,0,0,0,NaN,0,NaN,NaN,2008
27,1,0,0,1,1,NaN,1,NaN,NaN,2008
28,1,1,0,0,1,NaN,0,NaN,NaN,2008
29,1,1,0,0,0,NaN,0,NaN,NaN,2008
...,...,...,...,...,...,...,...,...,...,...
414479,78,1,0,0,1,NaN,0,NaN,NaN,2008
414480,78,0,0,0,1,NaN,1,NaN,NaN,2008
414481,78,0,1,0,0,NaN,1,NaN,NaN,2008
414482,78,0,1,0,1,NaN,1,NaN,NaN,2008
414483,78,0,1,0,1,NaN,1,NaN,NaN,2008
414484,78,1,0,0,1,NaN,0,NaN,NaN,2008
414485,78,0,0,0,1,NaN,1,NaN,NaN,2008
414486,78,0,0,0,1,NaN,0,NaN,NaN,2008
414487,78,1,1,0,1,NaN,1,NaN,NaN,2008
414488,78,0,0,0,0,NaN,1,NaN,NaN,2008
414489,78,0,1,0,1,NaN,1,NaN,NaN,2008
414490,78,0,1,0,1,NaN,1,NaN,NaN,2008
414491,78,1,1,0,1,NaN,1,NaN,NaN,2008
414492,78,0,0,0,1,NaN,1,NaN,NaN,2008
414493,78,0,0,0,1,NaN,1,NaN,NaN,2008
414494,78,0,0,0,0,NaN,1,NaN,NaN,2008
414495,78,1,1,0,1,NaN,1,NaN,NaN,2008
414496,78,1,0,0,0,NaN,0,NaN,NaN,2008
414497,78,0,0,0,0,NaN,0,NaN,NaN,2008
414498,78,0,1,0,1,NaN,0,NaN,NaN,2008
414499,78,1,1,0,1,NaN,0,NaN,NaN,2008
414500,78,0,1,0,1,NaN,1,NaN,NaN,2008
414501,78,0,0,0,0,NaN,1,NaN,NaN,2008
414502,78,1,0,0,0,NaN,1,NaN,NaN,2008
414503,78,0,9900,0,1,NaN,1,NaN,NaN,2008
414504,78,0,1,0,1,NaN,1,NaN,NaN,2008
414505,78,0,1,0,1,NaN,0,NaN,NaN,2008
414506,78,0,1,0,1,NaN,1,NaN,NaN,2008
414507,78,1,0,0,1,NaN,0,NaN,NaN,2008
414508,78,0,1,0,1,NaN,0,NaN,NaN,2008

In [26]:
query = "select `x.state`   as state , \
                MENTHLTH    as mentalhealth ,\
                `x.DRNKDY3` as drink, \
                `x.RFSMOK3` as smoke, \
                `x.EDUCAG`  as education, \
                `EXERANY2`  as workout ,\
                `FRUTDAY.`  as fruit, \
                `GNSLDAY.`  as vegetable \
        from BRFSS_2007"                
        
    
brfssDF2007 = pd.read_sql_query(query, conn)
brfssDF2007['year']=2007

brfssDF2007.insert(5, "internet", np.nan) 

brfssDF2007.head()

,state,mentalhealth,drink,smoke,education,internet,workout,fruit,vegetable,year
0,1,20,0,1,4,NaN,2.0,6,4,2007
1,1,88,0,1,3,NaN,1.0,990,990,2007
2,1,88,0,1,1,NaN,1.0,6,3,2007
3,1,88,40,1,2,NaN,2.0,4,7,2007
4,1,88,0,1,1,NaN,2.0,990,990,2007

In [27]:
brfssDF2007.loc[(brfssDF2007.mentalhealth == 88) , 'mentalhealth'] = 0 
brfssDF2007.loc[(brfssDF2007.mentalhealth.notnull()) & \
                (brfssDF2007.mentalhealth != 0) & \
                (brfssDF2007.mentalhealth != 77) & \
                (brfssDF2007.mentalhealth != 99), 'mentalhealth'] = 1  

brfssDF2007.loc[(brfssDF2007.drink == 0) , 'drink'] = 0 
brfssDF2007.loc[(brfssDF2007.drink != 0) & \
                (brfssDF2007.drink != 9900) , 'drink'] = 1 

brfssDF2007.loc[(brfssDF2007.smoke == 1) , 'smoke'] = 0 
brfssDF2007.loc[(brfssDF2007.smoke == 2) , 'smoke'] = 1 

brfssDF2007.loc[(brfssDF2007.education == 1) , 'education'] = 0 
brfssDF2007.loc[(brfssDF2007.education == 2) | \
                (brfssDF2007.education == 3) | \
                (brfssDF2007.education == 4), 'education'] = 1 

brfssDF2007.loc[(brfssDF2007.internet == 2) , 'internet'] = 0 
brfssDF2007.loc[(brfssDF2007.internet == 1) , 'internet'] = 1 

brfssDF2007.loc[(brfssDF2007.workout == 2) , 'workout'] = 0 
brfssDF2007.loc[(brfssDF2007.workout == 1) , 'workout'] = 1 

brfssDF2007.loc[(brfssDF2007.fruit == 0) , 'fruit'] = 0 
brfssDF2007.loc[(brfssDF2007.fruit.notnull()) & \
                (brfssDF2007.fruit != 0) , 'fruit'] = 1  

brfssDF2007.loc[(brfssDF2007.vegetable == 0) , 'vegetable'] = 0 
brfssDF2007.loc[(brfssDF2007.vegetable.notnull()) & \
                (brfssDF2007.vegetable != 0) , 'vegetable'] = 1  


brfssDF2007

,state,mentalhealth,drink,smoke,education,internet,workout,fruit,vegetable,year
0,1,1,0,0,1,NaN,0.0,1,1,2007
1,1,0,0,0,1,NaN,1.0,1,1,2007
2,1,0,0,0,0,NaN,1.0,1,1,2007
3,1,0,1,0,1,NaN,0.0,1,1,2007
4,1,0,0,0,0,NaN,0.0,1,1,2007
5,1,1,0,1,1,NaN,0.0,0,1,2007
6,1,0,9900,1,1,NaN,1.0,1,1,2007
7,1,0,1,0,1,NaN,1.0,1,1,2007
8,1,0,1,1,1,NaN,1.0,1,1,2007
9,1,1,0,0,1,NaN,1.0,1,1,2007
10,1,0,0,0,0,NaN,1.0,1,1,2007
11,1,1,9900,0,1,NaN,1.0,1,1,2007
12,1,1,0,1,1,NaN,1.0,1,1,2007
13,1,0,9900,1,1,NaN,1.0,1,1,2007
14,1,0,0,0,1,NaN,1.0,1,1,2007
15,1,1,0,0,1,NaN,0.0,1,1,2007
16,1,0,9900,0,1,NaN,0.0,1,1,2007
17,1,1,1,0,0,NaN,1.0,1,1,2007
18,1,0,1,0,1,NaN,1.0,1,1,2007
19,1,0,0,0,1,NaN,1.0,1,1,2007
20,1,0,0,0,1,NaN,1.0,1,1,2007
21,1,0,0,0,1,NaN,1.0,1,0,2007
22,1,1,1,1,0,NaN,1.0,1,0,2007
23,1,1,0,1,1,NaN,1.0,1,1,2007
24,1,1,0,1,1,NaN,0.0,1,1,2007
25,1,0,0,1,1,NaN,0.0,1,1,2007
26,1,1,0,0,1,NaN,1.0,1,1,2007
27,1,0,1,0,1,NaN,0.0,1,1,2007
28,1,0,0,1,1,NaN,1.0,0,1,2007
29,1,0,1,0,1,NaN,1.0,1,1,2007
...,...,...,...,...,...,...,...,...,...,...
430882,78,77,1,0,1,NaN,1.0,1,1,2007
430883,78,1,0,0,0,NaN,0.0,1,1,2007
430884,78,0,0,0,1,NaN,1.0,1,1,2007
430885,78,0,0,0,0,NaN,1.0,1,1,2007
430886,78,1,9900,0,1,NaN,0.0,1,1,2007
430887,78,0,0,0,1,NaN,1.0,1,1,2007
430888,78,0,1,0,1,NaN,1.0,1,1,2007
430889,78,0,0,0,0,NaN,1.0,1,1,2007
430890,78,99,0,0,0,NaN,1.0,1,1,2007
430891,78,1,0,0,0,NaN,0.0,1,1,2007
430892,78,1,0,0,1,NaN,0.0,1,1,2007
430893,78,0,0,0,1,NaN,1.0,1,1,2007
430894,78,77,0,0,1,NaN,0.0,1,1,2007
430895,78,0,0,0,0,NaN,1.0,1,1,2007
430896,78,0,0,0,1,NaN,0.0,0,0,2007
430897,78,0,0,0,1,NaN,1.0,1,0,2007
430898,78,1,0,1,1,NaN,1.0,1,0,2007
430899,78,1,0,0,1,NaN,1.0,1,1,2007
430900,78,0,9900,0,1,NaN,1.0,1,1,2007
430901,78,0,0,0,1,NaN,1.0,1,1,2007
430902,78,1,0,0,1,NaN,1.0,1,1,2007
430903,78,0,9900,0,1,NaN,1.0,1,1,2007
430904,78,1,9900,1,9,NaN,1.0,1,1,2007
430905,78,1,0,0,1,NaN,0.0,1,1,2007
430906,78,0,1,0,1,NaN,1.0,1,1,2007
430907,78,0,1,0,1,NaN,1.0,1,1,2007
430908,78,0,0,0,1,NaN,0.0,0,1,2007
430909,78,1,0,0,1,NaN,1.0,1,1,2007
430910,78,0,0,0,0,NaN,1.0,1,1,2007
430911,78,0,0,0,1,NaN,1.0,1,1,2007

In [28]:
brfssDF = pd.concat([brfssDF2017, brfssDF2016, brfssDF2015, brfssDF2014, brfssDF2013, brfssDF2012, 
                     brfssDF2011, brfssDF2010, brfssDF2009, brfssDF2008, brfssDF2007])
brfssDF = brfssDF.reset_index()
brfssDF

,index,state,mentalhealth,drink,smoke,education,internet,workout,fruit,vegetable,year
0,0,1,0.0,0.0,0,1,1.0,1.0,1.0,1.0,2017
1,1,1,0.0,0.0,0,1,1.0,1.0,1.0,1.0,2017
2,2,1,0.0,1.0,0,0,0.0,0.0,1.0,1.0,2017
3,3,1,0.0,0.0,0,0,0.0,NaN,1.0,NaN,2017
4,4,1,0.0,0.0,0,0,0.0,0.0,1.0,1.0,2017
5,5,1,0.0,1.0,1,1,0.0,1.0,1.0,1.0,2017
6,6,1,0.0,0.0,0,1,1.0,0.0,1.0,1.0,2017
7,7,1,0.0,0.0,0,1,0.0,1.0,1.0,1.0,2017
8,8,1,1.0,0.0,0,1,0.0,0.0,1.0,1.0,2017
9,9,1,1.0,1.0,0,1,1.0,1.0,1.0,1.0,2017
10,10,1,0.0,0.0,0,1,1.0,0.0,1.0,1.0,2017
11,11,1,0.0,0.0,0,1,0.0,0.0,1.0,1.0,2017
12,12,1,0.0,0.0,0,1,0.0,1.0,1.0,1.0,2017
13,13,1,0.0,1.0,0,1,1.0,1.0,1.0,1.0,2017
14,14,1,0.0,0.0,0,1,1.0,0.0,1.0,1.0,2017
15,15,1,0.0,0.0,0,1,0.0,0.0,1.0,1.0,2017
16,16,1,0.0,0.0,0,1,1.0,1.0,1.0,1.0,2017
17,17,1,77.0,0.0,0,1,0.0,0.0,1.0,NaN,2017
18,18,1,1.0,1.0,0,1,0.0,0.0,1.0,1.0,2017
19,19,1,0.0,0.0,0,1,1.0,0.0,1.0,NaN,2017
20,20,1,0.0,1.0,1,1,1.0,0.0,1.0,1.0,2017
21,21,1,0.0,1.0,0,1,1.0,0.0,1.0,1.0,2017
22,22,1,1.0,0.0,0,1,0.0,0.0,0.0,NaN,2017
23,23,1,0.0,0.0,0,0,0.0,0.0,1.0,1.0,2017
24,24,1,0.0,0.0,0,1,0.0,1.0,1.0,1.0,2017
25,25,1,0.0,0.0,0,0,1.0,0.0,1.0,1.0,2017
26,26,1,0.0,0.0,1,0,1.0,1.0,1.0,1.0,2017
27,27,1,1.0,1.0,1,1,0.0,1.0,1.0,1.0,2017
28,28,1,0.0,1.0,0,1,1.0,0.0,1.0,1.0,2017
29,29,1,0.0,0.0,1,1,0.0,1.0,1.0,1.0,2017
...,...,...,...,...,...,...,...,...,...,...,...
5045439,430882,78,77.0,1.0,0,1,NaN,1.0,1.0,1.0,2007
5045440,430883,78,1.0,0.0,0,0,NaN,0.0,1.0,1.0,2007
5045441,430884,78,0.0,0.0,0,1,NaN,1.0,1.0,1.0,2007
5045442,430885,78,0.0,0.0,0,0,NaN,1.0,1.0,1.0,2007
5045443,430886,78,1.0,9900.0,0,1,NaN,0.0,1.0,1.0,2007
5045444,430887,78,0.0,0.0,0,1,NaN,1.0,1.0,1.0,2007
5045445,430888,78,0.0,1.0,0,1,NaN,1.0,1.0,1.0,2007
5045446,430889,78,0.0,0.0,0,0,NaN,1.0,1.0,1.0,2007
5045447,430890,78,99.0,0.0,0,0,NaN,1.0,1.0,1.0,2007
5045448,430891,78,1.0,0.0,0,0,NaN,0.0,1.0,1.0,2007
5045449,430892,78,1.0,0.0,0,1,NaN,0.0,1.0,1.0,2007
5045450,430893,78,0.0,0.0,0,1,NaN,1.0,1.0,1.0,2007
5045451,430894,78,77.0,0.0,0,1,NaN,0.0,1.0,1.0,2007
5045452,430895,78,0.0,0.0,0,0,NaN,1.0,1.0,1.0,2007
5045453,430896,78,0.0,0.0,0,1,NaN,0.0,0.0,0.0,2007
5045454,430897,78,0.0,0.0,0,1,NaN,1.0,1.0,0.0,2007
5045455,430898,78,1.0,0.0,1,1,NaN,1.0,1.0,0.0,2007
5045456,430899,78,1.0,0.0,0,1,NaN,1.0,1.0,1.0,2007
5045457,430900,78,0.0,9900.0,0,1,NaN,1.0,1.0,1.0,2007
5045458,430901,78,0.0,0.0,0,1,NaN,1.0,1.0,1.0,2007
5045459,430902,78,1.0,0.0,0,1,NaN,1.0,1.0,1.0,2007
5045460,430903,78,0.0,9900.0,0,1,NaN,1.0,1.0,1.0,2007
5045461,430904,78,1.0,9900.0,1,9,NaN,1.0,1.0,1.0,2007
5045462,430905,78,1.0,0.0,0,1,NaN,0.0,1.0,1.0,2007
5045463,430906,78,0.0,1.0,0,1,NaN,1.0,1.0,1.0,2007
5045464,430907,78,0.0,1.0,0,1,NaN,1.0,1.0,1.0,2007
5045465,430908,78,0.0,0.0,0,1,NaN,0.0,0.0,1.0,2007
5045466,430909,78,1.0,0.0,0,1,NaN,1.0,1.0,1.0,2007
5045467,430910,78,0.0,0.0,0,0,NaN,1.0,1.0,1.0,2007
5045468,430911,78,0.0,0.0,0,1,NaN,1.0,1.0,1.0,2007

In [29]:
brfssDF = brfssDF.drop(brfssDF.columns[[0]], axis=1)
brfssDF.to_csv("dataConsolidated.csv", index=False)

In [30]:
brfssDF.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5045469 entries, 0 to 5045468
Columns: 10 entries, state to year
dtypes: float64(6), int64(4)
memory usage: 384.9 MB

In [34]:
tempDF =  brfssDF.dropna() 
tempDF.info(verbose=False)
tempDF = tempDF.reset_index()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1222186 entries, 0 to 2334211
Columns: 10 entries, state to year
dtypes: float64(6), int64(4)
memory usage: 102.6 MB

In [35]:
tempDF

,index,state,mentalhealth,drink,smoke,education,internet,workout,fruit,vegetable,year
0,0,1,0.0,0.0,0,1,1.0,1.0,1.0,1.0,2017
1,1,1,0.0,0.0,0,1,1.0,1.0,1.0,1.0,2017
2,2,1,0.0,1.0,0,0,0.0,0.0,1.0,1.0,2017
3,4,1,0.0,0.0,0,0,0.0,0.0,1.0,1.0,2017
4,5,1,0.0,1.0,1,1,0.0,1.0,1.0,1.0,2017
5,6,1,0.0,0.0,0,1,1.0,0.0,1.0,1.0,2017
6,7,1,0.0,0.0,0,1,0.0,1.0,1.0,1.0,2017
7,8,1,1.0,0.0,0,1,0.0,0.0,1.0,1.0,2017
8,9,1,1.0,1.0,0,1,1.0,1.0,1.0,1.0,2017
9,10,1,0.0,0.0,0,1,1.0,0.0,1.0,1.0,2017
10,11,1,0.0,0.0,0,1,0.0,0.0,1.0,1.0,2017
11,12,1,0.0,0.0,0,1,0.0,1.0,1.0,1.0,2017
12,13,1,0.0,1.0,0,1,1.0,1.0,1.0,1.0,2017
13,14,1,0.0,0.0,0,1,1.0,0.0,1.0,1.0,2017
14,15,1,0.0,0.0,0,1,0.0,0.0,1.0,1.0,2017
15,16,1,0.0,0.0,0,1,1.0,1.0,1.0,1.0,2017
16,18,1,1.0,1.0,0,1,0.0,0.0,1.0,1.0,2017
17,20,1,0.0,1.0,1,1,1.0,0.0,1.0,1.0,2017
18,21,1,0.0,1.0,0,1,1.0,0.0,1.0,1.0,2017
19,23,1,0.0,0.0,0,0,0.0,0.0,1.0,1.0,2017
20,24,1,0.0,0.0,0,1,0.0,1.0,1.0,1.0,2017
21,25,1,0.0,0.0,0,0,1.0,0.0,1.0,1.0,2017
22,26,1,0.0,0.0,1,0,1.0,1.0,1.0,1.0,2017
23,27,1,1.0,1.0,1,1,0.0,1.0,1.0,1.0,2017
24,28,1,0.0,1.0,0,1,1.0,0.0,1.0,1.0,2017
25,29,1,0.0,0.0,1,1,0.0,1.0,1.0,1.0,2017
26,30,1,0.0,1.0,0,1,1.0,0.0,1.0,1.0,2017
27,31,1,1.0,0.0,0,1,1.0,0.0,1.0,1.0,2017
28,32,1,0.0,0.0,0,0,1.0,1.0,1.0,1.0,2017
29,33,1,0.0,1.0,0,1,1.0,1.0,1.0,1.0,2017
...,...,...,...,...,...,...,...,...,...,...,...
1222156,2334182,72,0.0,1.0,0,1,1.0,1.0,1.0,1.0,2013
1222157,2334183,72,0.0,0.0,0,1,1.0,1.0,1.0,1.0,2013
1222158,2334184,72,0.0,9900.0,0,1,0.0,1.0,1.0,0.0,2013
1222159,2334185,72,0.0,0.0,0,1,1.0,0.0,1.0,1.0,2013
1222160,2334186,72,0.0,0.0,0,1,1.0,1.0,1.0,1.0,2013
1222161,2334187,72,0.0,1.0,0,1,1.0,0.0,1.0,1.0,2013
1222162,2334188,72,1.0,0.0,0,1,1.0,0.0,1.0,1.0,2013
1222163,2334189,72,0.0,0.0,0,1,0.0,0.0,1.0,1.0,2013
1222164,2334190,72,0.0,0.0,0,1,0.0,1.0,1.0,1.0,2013
1222165,2334191,72,1.0,0.0,0,1,0.0,0.0,0.0,1.0,2013
1222166,2334192,72,1.0,1.0,0,1,1.0,1.0,1.0,1.0,2013
1222167,2334193,72,1.0,0.0,0,1,0.0,0.0,1.0,1.0,2013
1222168,2334194,72,0.0,0.0,0,0,0.0,0.0,1.0,0.0,2013
1222169,2334195,72,1.0,0.0,0,1,0.0,1.0,1.0,1.0,2013
1222170,2334196,72,0.0,0.0,0,1,1.0,1.0,1.0,1.0,2013
1222171,2334197,72,77.0,0.0,0,1,1.0,1.0,1.0,1.0,2013
1222172,2334198,72,0.0,0.0,0,1,1.0,1.0,1.0,1.0,2013
1222173,2334199,72,0.0,0.0,0,1,0.0,0.0,0.0,0.0,2013
1222174,2334200,72,0.0,1.0,1,0,1.0,0.0,1.0,1.0,2013
1222175,2334201,72,0.0,0.0,0,1,1.0,1.0,1.0,1.0,2013
1222176,2334202,72,0.0,0.0,0,1,1.0,0.0,1.0,1.0,2013
1222177,2334203,72,0.0,1.0,0,1,1.0,1.0,1.0,1.0,2013
1222178,2334204,72,1.0,1.0,0,1,1.0,1.0,1.0,1.0,2013
1222179,2334205,72,1.0,1.0,0,1,1.0,0.0,0.0,0.0,2013
1222180,2334206,72,0.0,0.0,0,1,1.0,1.0,1.0,1.0,2013
1222181,2334207,72,1.0,0.0,0,1,1.0,1.0,1.0,1.0,2013
1222182,2334208,72,0.0,0.0,0,1,0.0,1.0,1.0,1.0,2013
1222183,2334209,72,0.0,0.0,0,1,1.0,0.0,1.0,1.0,2013
1222184,2334210,72,1.0,0.0,0,1,1.0,1.0,1.0,1.0,2013
1222185,2334211,72,0.0,0.0,0,1,0.0,1.0,1.0,0.0,2013

In [36]:
tempDF = tempDF.loc[tempDF['mentalhealth'].isin([1,0])]
tempDF = tempDF.loc[tempDF['drink'].isin([1,0])]
tempDF = tempDF.loc[tempDF['smoke'].isin([1,0])]
tempDF = tempDF.loc[tempDF['education'].isin([1,0])]
tempDF = tempDF.loc[tempDF['internet'].isin([1,0])]
tempDF = tempDF.loc[tempDF['internet'].isin([1,0])]
tempDF = tempDF.loc[tempDF['workout'].isin([1,0])]
tempDF = tempDF.loc[tempDF['fruit'].isin([1,0])]
tempDF = tempDF.loc[tempDF['vegetable'].isin([1,0])]

tempDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1176851 entries, 0 to 1222185
Data columns (total 11 columns):
index           1176851 non-null int64
state           1176851 non-null int64
mentalhealth    1176851 non-null float64
drink           1176851 non-null float64
smoke           1176851 non-null int64
education       1176851 non-null int64
internet        1176851 non-null float64
workout         1176851 non-null float64
fruit           1176851 non-null float64
vegetable       1176851 non-null float64
year            1176851 non-null int64
dtypes: float64(6), int64(5)
memory usage: 107.7 MB

In [37]:
tempDF

,index,state,mentalhealth,drink,smoke,education,internet,workout,fruit,vegetable,year
0,0,1,0.0,0.0,0,1,1.0,1.0,1.0,1.0,2017
1,1,1,0.0,0.0,0,1,1.0,1.0,1.0,1.0,2017
2,2,1,0.0,1.0,0,0,0.0,0.0,1.0,1.0,2017
3,4,1,0.0,0.0,0,0,0.0,0.0,1.0,1.0,2017
4,5,1,0.0,1.0,1,1,0.0,1.0,1.0,1.0,2017
5,6,1,0.0,0.0,0,1,1.0,0.0,1.0,1.0,2017
6,7,1,0.0,0.0,0,1,0.0,1.0,1.0,1.0,2017
7,8,1,1.0,0.0,0,1,0.0,0.0,1.0,1.0,2017
8,9,1,1.0,1.0,0,1,1.0,1.0,1.0,1.0,2017
9,10,1,0.0,0.0,0,1,1.0,0.0,1.0,1.0,2017
10,11,1,0.0,0.0,0,1,0.0,0.0,1.0,1.0,2017
11,12,1,0.0,0.0,0,1,0.0,1.0,1.0,1.0,2017
12,13,1,0.0,1.0,0,1,1.0,1.0,1.0,1.0,2017
13,14,1,0.0,0.0,0,1,1.0,0.0,1.0,1.0,2017
14,15,1,0.0,0.0,0,1,0.0,0.0,1.0,1.0,2017
15,16,1,0.0,0.0,0,1,1.0,1.0,1.0,1.0,2017
16,18,1,1.0,1.0,0,1,0.0,0.0,1.0,1.0,2017
17,20,1,0.0,1.0,1,1,1.0,0.0,1.0,1.0,2017
18,21,1,0.0,1.0,0,1,1.0,0.0,1.0,1.0,2017
19,23,1,0.0,0.0,0,0,0.0,0.0,1.0,1.0,2017
20,24,1,0.0,0.0,0,1,0.0,1.0,1.0,1.0,2017
21,25,1,0.0,0.0,0,0,1.0,0.0,1.0,1.0,2017
22,26,1,0.0,0.0,1,0,1.0,1.0,1.0,1.0,2017
23,27,1,1.0,1.0,1,1,0.0,1.0,1.0,1.0,2017
24,28,1,0.0,1.0,0,1,1.0,0.0,1.0,1.0,2017
25,29,1,0.0,0.0,1,1,0.0,1.0,1.0,1.0,2017
26,30,1,0.0,1.0,0,1,1.0,0.0,1.0,1.0,2017
27,31,1,1.0,0.0,0,1,1.0,0.0,1.0,1.0,2017
28,32,1,0.0,0.0,0,0,1.0,1.0,1.0,1.0,2017
29,33,1,0.0,1.0,0,1,1.0,1.0,1.0,1.0,2017
...,...,...,...,...,...,...,...,...,...,...,...
1222154,2334180,72,0.0,0.0,0,1,1.0,0.0,1.0,1.0,2013
1222155,2334181,72,0.0,0.0,0,1,1.0,1.0,1.0,1.0,2013
1222156,2334182,72,0.0,1.0,0,1,1.0,1.0,1.0,1.0,2013
1222157,2334183,72,0.0,0.0,0,1,1.0,1.0,1.0,1.0,2013
1222159,2334185,72,0.0,0.0,0,1,1.0,0.0,1.0,1.0,2013
1222160,2334186,72,0.0,0.0,0,1,1.0,1.0,1.0,1.0,2013
1222161,2334187,72,0.0,1.0,0,1,1.0,0.0,1.0,1.0,2013
1222162,2334188,72,1.0,0.0,0,1,1.0,0.0,1.0,1.0,2013
1222163,2334189,72,0.0,0.0,0,1,0.0,0.0,1.0,1.0,2013
1222164,2334190,72,0.0,0.0,0,1,0.0,1.0,1.0,1.0,2013
1222165,2334191,72,1.0,0.0,0,1,0.0,0.0,0.0,1.0,2013
1222166,2334192,72,1.0,1.0,0,1,1.0,1.0,1.0,1.0,2013
1222167,2334193,72,1.0,0.0,0,1,0.0,0.0,1.0,1.0,2013
1222168,2334194,72,0.0,0.0,0,0,0.0,0.0,1.0,0.0,2013
1222169,2334195,72,1.0,0.0,0,1,0.0,1.0,1.0,1.0,2013
1222170,2334196,72,0.0,0.0,0,1,1.0,1.0,1.0,1.0,2013
1222172,2334198,72,0.0,0.0,0,1,1.0,1.0,1.0,1.0,2013
1222173,2334199,72,0.0,0.0,0,1,0.0,0.0,0.0,0.0,2013
1222174,2334200,72,0.0,1.0,1,0,1.0,0.0,1.0,1.0,2013
1222175,2334201,72,0.0,0.0,0,1,1.0,1.0,1.0,1.0,2013
1222176,2334202,72,0.0,0.0,0,1,1.0,0.0,1.0,1.0,2013
1222177,2334203,72,0.0,1.0,0,1,1.0,1.0,1.0,1.0,2013
1222178,2334204,72,1.0,1.0,0,1,1.0,1.0,1.0,1.0,2013
1222179,2334205,72,1.0,1.0,0,1,1.0,0.0,0.0,0.0,2013
1222180,2334206,72,0.0,0.0,0,1,1.0,1.0,1.0,1.0,2013
1222181,2334207,72,1.0,0.0,0,1,1.0,1.0,1.0,1.0,2013
1222182,2334208,72,0.0,0.0,0,1,0.0,1.0,1.0,1.0,2013
1222183,2334209,72,0.0,0.0,0,1,1.0,0.0,1.0,1.0,2013
1222184,2334210,72,1.0,0.0,0,1,1.0,1.0,1.0,1.0,2013
1222185,2334211,72,0.0,0.0,0,1,0.0,1.0,1.0,0.0,2013

In [38]:
tempDF.to_csv("dataConsolidatedClean.csv", index=False)